<footer class="footer horizontal">
  <div class="logo_F">
    <a href="/">
      <img src="images/logo_footer.png" class="logo_footer" />
    </a>
  </div>

  <div class="about_us box_footer">
    <h2>About Us</h2>
    <div class="line_mid radius"></div>
    <p class="font_style font_about">
      We are a company dedicated to help people who are passionate about the
      culture, history and knowledge of baking. Meanwhile, provide a platform
      for people who want to share their recipe and skills.
    </p>
  </div>
  <div class="follow_us box_footer">
    <h2>Follow Us</h2>
    <div class="line_mid radius"></div>
    <div class="icon_style centralA">
      <a href="#"> <i class="uil uil-facebook font_color"></i> </a>
      <a href="#"> <i class="uil uil-linkedin font_color"></i> </a>
      <a href="#" class="pad">
        <iconify-icon
          icon="fa6-brands:square-instagram"
          class="font_color"
        ></iconify-icon>
      </a>
      <a href="#" class="pad">
        <iconify-icon
          icon="fa-brands:twitter-square"
          class="font_color"
        ></iconify-icon>
      </a>
    </div>
  </div>
  <div class="quick_links box_footer">
    <h2>Quick Links</h2>
    <div class="line_mid radius"></div>
    <ul class="font_style">
      <li><a href="#" class="font_color">Home</a></li>
      <li class="margin_mid"><a href="#" class="font_color">Our courses</a></li>
      <li><a href="#" class="font_color">Our instructors</a></li>
    </ul>
  </div>
  <div class="contact_us box_footer">
    <h2>Contact Us</h2>
    <div class="line_mid radius"></div>
    <ul>
      <li class="font_color centralA">
        <div><i class="uil uil-map-marker icon_font_contact"></i></div>
        <div>
          <a href="#" class="font_color"
            >8 avenue de Carthage,<br />
            13100 Aix en-provence</a
          >
        </div>
      </li>
      <li class="font_color margin_mid centralA">
        <div><i class="uil uil-mobile-android icon_font_contact"></i></div>
        <div>
          <a href="#" class="font_color">+33 07 67 25 86 03</a>
        </div>
      </li>
      <li class="font_color centralA">
        <div><i class="uil uil-envelope-alt icon_font_contact"></i></div>
        <div>
          <a href="#" class="font_color">billingran@gmail.com</a>
        </div>
      </li>
    </ul>
  </div>
</footer>
