<!-- /////////////////////////////////////////////// -->
<!-- footer -->

<footer class="footer">
  <div class="ctn_footer">
    <div class="logo_F">
      <a href="/">
        <img src="/images/logo_footer.png" class="logo_footer" />
      </a>
    </div>

    <div class="about_us box_footer">
      <h2>À propos</h2>
      <div class="line_mid"></div>
      <p class="font_about">
        Nous sommes une entreprise dédiée aux gens passionnés par la culture,
        les connaissances et l’histoire de la boulangerie. Nous sommes également
        une plateforme qui propose à ceux qui veulent partager leurs recettes et
        leurs compétences dans ce domaine de le faire.
      </p>
    </div>

    <div class="follow_us box_footer">
      <h2>Suivez nous</h2>
      <div class="line_mid"></div>
      <div class="icon_style">
        <a href="https://www.facebook.com/">
          <i class="uil uil-facebook font_color"></i>
        </a>
        <a href="https://www.linkedin.com">
          <i class="uil uil-linkedin font_color"></i>
        </a>
        <a href="https://www.instagram.com/">
          <iconify-icon
            icon="fa6-brands:square-instagram"
            class="font_color"
          ></iconify-icon>
        </a>
        <a href="https://twitter.com/">
          <iconify-icon
            icon="fa-brands:twitter-square"
            class="font_color"
          ></iconify-icon>
        </a>
      </div>
    </div>

    <div class="quick_links box_footer">
      <h2>Raccourcis</h2>
      <div class="line_mid"></div>
      <ul>
        <li class="font_color">
          <div><i class="uil uil-home icon_font"></i></div>
          <div>
            <a href="/" class="font_color">Menu</a>
          </div>
        </li>
        <li class="font_color margin_mid">
          <div>
            <i class="uil uil-book-alt icon_font"></i>
          </div>
          <div>
            <a
              href="/course/courses/642b25fee4f201d77621c6bf"
              class="font_color"
              >Nos cours</a
            >
          </div>
        </li>
        <li class="font_color">
          <div>
            <iconify-icon
              icon="tabler:chef-hat"
              class="icon_font"
            ></iconify-icon>
          </div>
          <div>
            <a href="/course/instructors" class="font_color">Nos enseignants</a>
          </div>
        </li>
      </ul>
    </div>

    <div class="contact_us box_footer">
      <h2>Contact</h2>
      <div class="line_mid"></div>
      <ul>
        <li class="font_color color_hover">
          <div><i class="uil uil-map-marker icon_font"></i></div>
          <div>
            <a href="#" class="font_color color_hover"
              >8 avenue de Carthage,<br />
              13100 Aix en-provence</a
            >
          </div>
        </li>
        <li class="font_color margin_mid">
          <div><i class="uil uil-mobile-android icon_font"></i></div>
          <div>
            <a href="#" class="font_color">+33 07 67 25 86 03</a>
          </div>
        </li>
        <li class="font_color">
          <div><i class="uil uil-envelope-alt icon_font"></i></div>
          <div>
            <a href="#" class="font_color">billingran@gmail.com</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="contact_us box_footer"></div>
  </div>

  <div class="ctn_copyRight">
    <p>Copyright © 2023 Paîndemy. Tous droits réservés.</p>
  </div>
</footer>
