<!-- /////////////////////////////////////////////// -->
<!-- header -->

<header class="header">
  <div class="ctn_header">
    <div><h2 class="title_header">Paindemy</h2></div>

    <form method="POST" action="/search" class="form_homeOne">
      <label for="search"
        ><i class="uil uil-search icon_search_homeOne"></i
      ></label>
      <input
        id="search"
        type="search"
        name="searchTerm"
        placeholder="Searching..."
        autofocus
        class="input_homeOne"
      />
    </form>

    <div class="ctn_burger">
      <div class="burger"></div>
    </div>
  </div>
</header>

<!-- /////////////////////////////////////////////// -->
<!-- side bar header -->

<section class="side_bar_header">
  <ul class="ul_sideBar_header">
    <li>
      <div class="ctn_burger">
        <div class="burger"></div>
      </div>
    </li>
    <li>
      <img src="/images/logo_home.png" alt="logo Paindemy" />
    </li>
    <li>
      <a href="/course/courses" class="centralA"
        ><i class="uil uil-book-alt icon_sideBar_header"></i> COURSES</a
      >
    </li>
    <li>
      <a href="/course/instructors" class="centralA"
        ><iconify-icon
          icon="tabler:chef-hat"
          class="icon_sideBar_header"
        ></iconify-icon>
        INSTRUCTORS</a
      >
    </li>
    <li>
      <a href="/course/course" class="centralA"
        ><i class="uil uil-book-alt icon_sideBar_header"></i> COURSES</a
      >
    </li>
    <li>
      <a href="/course/instructor" class="centralA"
        ><iconify-icon
          icon="tabler:chef-hat"
          class="icon_sideBar_header"
        ></iconify-icon>
        INSTRUCTORS</a
      >
    </li>
    <li>
      <a href="/auth/signup" class="centralA"
        ><i class="uil uil-illustration icon_sideBar_header"></i> SIGN UP</a
      >
    </li>
    <li>
      <a href="/auth/login" class="centralA"
        ><i class="uil uil-signin icon_sideBar_header"></i> LOGIN</a
      >
    </li>
    <li>
      <a href="/instructor/newclass" class="centralA"
        ><i class="uil uil-signout icon_sideBar_header"></i> LOGOUT</a
      >
    </li>
  </ul>
</section>
