<!-- /////////////////////////////////////////////// -->
<!-- header -->

<header class="header">
  <div class="ctn_header">
    <div><h2 class="title_header">Paindemy</h2></div>

    <form method="POST" action="/search" class="form_homeOne">
      <label for="search"
        ><i class="uil uil-search icon_search_homeOne"></i
      ></label>
      <input
        id="search"
        type="search"
        name="searchTerm"
        placeholder="Searching..."
        autofocus
        class="input_homeOne"
      />
    </form>

    <div class="ctn_burger">
      <div class="burger"></div>
    </div>
  </div>
</header>

<!-- /////////////////////////////////////////////// -->
<!-- side bar header -->

<section class="side_bar_header">
  <ul class="ul_sideBar_header">
    <li>
      <div class="ctn_burger">
        <div class="burger"></div>
      </div>
    </li>
    <li>
      <img src="/images/logo_home.png" alt="logo Paindemy" />
    </li>
    <li>
      <a href="" class="centralA"
        ><i class="uil uil-book-alt icon_sideBar_header"></i> COURSES</a
      >
    </li>
    <li>
      <a href="" class="centralA"
        ><iconify-icon
          icon="tabler:chef-hat"
          class="icon_sideBar_header"
        ></iconify-icon>
        INSTRUCTORS</a
      >
    </li>
    <li>
      <a href="" class="centralA"
        ><i class="uil uil-illustration icon_sideBar_header"></i> SIGN UP</a
      >
    </li>
    <li>
      <a href="" class="centralA"
        ><i class="uil uil-signin icon_sideBar_header"></i> LOGIN</a
      >
    </li>
    <li>
      <a href="" class="centralA"
        ><i class="uil uil-signout icon_sideBar_header"></i> LOGOUT</a
      >
    </li>
  </ul>
</section>

<!-- <header class="header">
  <div class="mid_header centralA">
    <div class="logo_H">
      <a href="/">
        <img src="/images/logo_home.png" class="logo_image" />
      </a>
    </div>

    <div class="btns_nav">
      <ul class="ul_btn_nav centralA">
        <li class="login_btn btn_nav btn_Border central shadow_box cusor">
          <a href="/auth/login">Login</a>
        </li>
        <li class="btn_nav btn_Border central shadow_box cusor">
          <a href="/auth/signup">Sign up</a>
        </li>
      </ul>
    </div>

    <div class="btns_nav">
      <ul class="ul_btn_nav centralA">
        <li class="btn_nav btn_Border central shadow_box cusor">
          <a href="/instructor/newclass">new</a>
        </li>
        <li class="btn_nav btn_Border central shadow_box cusor">
          <a href="/course/courses">courses</a>
        </li>
      </ul>
    </div>

    <div class="btns_nav">
      <ul class="ul_btn_nav centralA">
        <li class="btn_nav btn_Border central shadow_box cusor">
          <a href="/course/course">course</a>
        </li>
        <li class="btn_nav btn_Border central shadow_box cusor">
          <a href="/course/instructor">instructor</a>
        </li>
      </ul>
    </div>

    <div class="nav_switch_container">
      <div class="menuToggle"></div>
    </div>
  </div>
</header> -->
