<header class="header centralNowrapBtw">
  <div class="logo">
    <a href="/">
      <img src="images/logo_home.png" class="logo_image" />
    </a>
  </div>

  <div class="search">
    <form method="POST" action="/search" class="form_search centralA">
      <ion-icon name="search-outline" class="icon_search"></ion-icon>
      <input
        type="search"
        name="searchTerm"
        class="input_search input_style"
        placeholder="Searching..."
        autofocus
      />
    </form>
  </div>

  <div class="btns_nav">
    <ul class="">
      <li class="btn_nav btnB central"><a href="#">Login</a></li>
      <li class="btn_nav btnB central"><a href="#">Sign up</a></li>
    </ul>
  </div>
</header>
