<header class="header">
  <div><h2 class="title_header">Paindemy</h2></div>

  <form method="POST" action="/search" class="form_homeOne">
    <label for="search"
      ><i class="uil uil-search icon_search_homeOne"></i
    ></label>
    <input
      id="search"
      type="search"
      name="searchTerm"
      placeholder="Searching..."
      autofocus
      class="input_homeOne"
    />
  </form>

  <div class="ctn_burger">
    <div class="burger"></div>
  </div>
</header>

<!-- <header class="header">
  <div class="mid_header centralA">
    <div class="logo_H">
      <a href="/">
        <img src="/images/logo_home.png" class="logo_image" />
      </a>
    </div>

    <div class="btns_nav">
      <ul class="ul_btn_nav centralA">
        <li class="login_btn btn_nav btn_Border central shadow_box cusor">
          <a href="/auth/login">Login</a>
        </li>
        <li class="btn_nav btn_Border central shadow_box cusor">
          <a href="/auth/signup">Sign up</a>
        </li>
      </ul>
    </div>

    <div class="btns_nav">
      <ul class="ul_btn_nav centralA">
        <li class="btn_nav btn_Border central shadow_box cusor">
          <a href="/instructor/newclass">new</a>
        </li>
        <li class="btn_nav btn_Border central shadow_box cusor">
          <a href="/course/courses">courses</a>
        </li>
      </ul>
    </div>

    <div class="btns_nav">
      <ul class="ul_btn_nav centralA">
        <li class="btn_nav btn_Border central shadow_box cusor">
          <a href="/course/course">course</a>
        </li>
        <li class="btn_nav btn_Border central shadow_box cusor">
          <a href="/course/instructor">instructor</a>
        </li>
      </ul>
    </div>

    <div class="nav_switch_container">
      <div class="menuToggle"></div>
    </div>
  </div>
</header> -->
