<header class="header centralA">
  <div class="logo_H">
    <a href="/">
      <img src="/images/logo_home.png" class="logo_image" />
    </a>
  </div>

  <div class="search">
    <form
      method="POST"
      action="/search"
      class="form_search centralA shadow_box radius_rond"
    >
      <ion-icon name="search-outline" class="icon_search"></ion-icon>
      <input
        type="search"
        name="searchTerm"
        class="input_search input_style"
        placeholder="Searching..."
        autofocus
      />
    </form>
  </div>

  <div class="btns_nav">
    <ul class="ul_btn_nav centralA">
      <li class="login_btn btn_nav btn_Border central shadow_box cusor">
        <a href="/auth/login">Login</a>
      </li>
      <li class="btn_nav btn_Border central shadow_box cusor">
        <a href="/auth/signup">Sign up</a>
      </li>
    </ul>
  </div>

  <div class="btns_nav">
    <ul class="ul_btn_nav centralA">
      <li class="btn_nav btn_Border central shadow_box cusor">
        <a href="/instructor/newclass">new</a>
      </li>
      <li class="btn_nav btn_Border central shadow_box cusor">
        <a href="/course/courses">courses</a>
      </li>
    </ul>
  </div>

  <div class="btns_nav">
    <ul class="ul_btn_nav centralA">
      <li class="btn_nav btn_Border central shadow_box cusor">
        <a href="/course/course">course</a>
      </li>
      <li class="btn_nav btn_Border central shadow_box cusor">
        <a href="/course/instructor">instructor</a>
      </li>
    </ul>
  </div>

  <!-- <div class="nav_switch_container">
    <div class="menuToggle"></div>
  </div> -->
</header>
