<% if (error != "") { %>
<div class="ctn_msg error_msg">
  <strong><%= error %></strong>
</div>
<% } %>

<!--break-->
<% if (error_msg != "") { %>
<div class="ctn_msg error_msg">
  <strong><%= error_msg %></strong>
</div>
<% } %>

<!--break-->
<% if (success_msg != "") { %>
<div class="ctn_msg success_msg" role="alert">
  <strong><%= success_msg %></strong>
</div>
<% } %>
