<!-- /////////////////////////////////////////////// -->
<!--  title confirm email reset-->
<section class="section_title">
  <h2 class="title central">
    <i class="uil uil-user-circle icon_title"></i> Réinitialisation !
  </h2>
</section>

<section class="section_delete">
  <%- include("partials/message") %>

  <h2 class="warning_delete">Notification :</h2>

  <div class="content_delete">
    Vérifier le lien de réinitialisation du mot de passe dans votre bôite mail
    sous 15 min pour réinitialiser le mot de passe.
  </div>

  <% if(token) { %>
  <form action="/auth/confirmemailreset" method="POST">
    <input type="hidden" value="<%= token %>" name="token" />
    <input type="submit" value="Renvoyer" class="btn_delete" />
  </form>
  <% } %>
</section>

<%- include("./partials/footer") %>

<!-- front js -->
<script src="/js/header.js"></script>
