<!-- /////////////////////////////////////////////// -->
<!--  title confirm email sign up and join us-->
<section class="section_title">
  <h2 class="title central">
    <i class="uil uil-user-circle icon_title"></i> Confirmation !
  </h2>
</section>

<section class="section_delete">
  <%- include("partials/message") %>

  <h2 class="warning_delete">Notification :</h2>

  <div class="content_delete">
    Vérifier le lien d'inscription dans votre bôite mail sous 15 min pour
    confirmer votre adresse mail.
  </div>

  <% if(token && role) { %>
  <form action="/auth/confirmemail" method="POST">
    <input type="hidden" value="<%= token %>" name="token" />
    <input type="hidden" value="<%= role %>" name="role" />
    <input type="submit" value="Renvoyer" class="btn_delete" />
  </form>
  <% } %>
</section>

<%- include("./partials/footer") %>

<!-- front js -->
<script src="/js/header.js"></script>
