<!-- /////////////////////////////////////////////// -->
<!-- course -->

<section class="section_course">
  <div class="ctn_course">
    <div class="ctn_midimage_course">
      <a href="#">
        <div class="ctn_image ctn_image_course">
          <div
            loading="lazy"
            class="image image_course"
            style="background-image: url('/uploads/baguette.jpg')"
          ></div>
        </div>
      </a>

      <ul class="font_image_course ul_imageAddress_course">
        <li class="ctn_imagedate_course">
          <div class="centralA">
            <iconify-icon
              icon="tabler:chef-hat"
              class="icon_imageContent_course"
            ></iconify-icon>
            Jasmin Dupre
          </div>
          <div class="centralA">
            <i class="uil uil-calender icon_imageContent_course"></i>
            <div>3/4/2023</div>
          </div>
        </li>
        <li class="ctn_imageAddress_course centralA">
          <div>
            <i class="uil uil-map-marker icon_imageContent_course"></i>
          </div>
          <div class="imageAddress_course">
            8 avenue de Carthage, 13100 Aix en-provence
          </div>
        </li>
      </ul>

      <ul class="font_image_course ul_imageContent_course">
        <li class="style_imageContent_course">
          <div>
            <iconify-icon
              icon="mdi:bread"
              class="icon_imageCategory_course"
            ></iconify-icon>
          </div>
        </li>
        <li>
          <div class="midLine_imageContent_course"></div>
        </li>
        <li class="style_imageContent_course">
          <div>
            <iconify-icon
              icon="lucide:wheat"
              class="icon_imageContent_course"
            ></iconify-icon>
          </div>
          <div>25</div>
        </li>
        <li>
          <div class="midLine_imageContent_course"></div>
        </li>
        <li class="style_imageContent_course">
          <div>
            <i class="uil uil-graduation-cap icon_imageContent_course"></i>
          </div>
          <div>25</div>
        </li>
        <li>
          <div class="midLine_imageContent_course"></div>
        </li>
        <li class="style_imageContent_course">
          <i class="uil uil-fire icon_imageContent_course"></i>
          <div>25</div>
        </li>
      </ul>
    </div>

    <div class="midLine_course"></div>

    <div class="ctn_info_course">
      <div class="ctn_title_display ctn_title_displayCourse">
        <div class="centralA">
          <i class="uil uil-book-alt icon_title_display"></i>
          <h2 class="title_display">Baguette</h2>
        </div>
        <div class="mid_display mid_display_course">
          <a href="#" class="a_NBorder a_NBorder_course left_btns"
            ><i class="uil uil-envelope-alt"></i> Add</a
          >
        </div>
      </div>

      <div class="ctn_intro_course">
        <p>
          Hello, my name is Lily and I am a professional baker with 5 years of
          experience. I have a passion for baking and creating unique and
          delicious treats. What I love most about baking is the opportunity to
          share my knowledge and skills with others. I believe that anyone can
          learn how to bake, and I enjoy teaching others through workshops and
          sharing my recipes online. If you're looking for a baker who is
          passionate about their craft and loves to share their skills with
          others, then I'm your girl
        </p>
      </div>

      <div class="ctn_title_display ctn_title_displayCourse">
        <div class="centralA">
          <iconify-icon
            icon="lucide:wheat"
            class="icon_title_display icon_title_displayCourse"
          ></iconify-icon>
          <h2 class="title_display">Ingredients</h2>
        </div>
        <div class="mid_display mid_display_course">
          <a href="#" class="a_NBorder a_NBorder_course right_btns">
            <i class="uil uil-envelope-alt"></i> Add</a
          >
        </div>
      </div>

      <div class="ctn_intro_course">
        <ol start="0">
          <li>water</li>
          <li>water</li>
          <li>water</li>
          <li>water</li>
          <li>water</li>
          <li>water</li>
          <li>water</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- /////////////////////////////////////////////// -->
<!-- courses same category of course -->

<section class="section_display section_mid">
  <div class="ctn_display">
    <div class="ctn_title_display">
      <div class="centralA">
        <i class="uil uil-book-alt icon_title_display"></i>
        <h2 class="title_display">You might be intrested</h2>
      </div>
      <div class="mid_display">
        <a href="#" class="ctn_viceTitle_display"
          >Show Ramdon
          <iconify-icon
            icon="fa:random"
            class="icon_viceTitle_display"
          ></iconify-icon>
        </a>
      </div>
    </div>
    <div>
      <ul class="ul_template">
        <li class="ctn_template mid_template">
          <a href="#">
            <div class="ctn_image_template">
              <div
                loading="lazy"
                class="image_template"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_template">
            <ul>
              <li class="content_template">
                <div>
                  <i class="uil uil-book-alt icon_content_template"></i>
                </div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_template"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <i class="uil uil-calender icon_content_template"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_template address_template">
                <div>
                  <i class="uil uil-map-marker icon_content_template"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence </a>
                </div>
              </li>

              <li class="ctn_btns_template">
                <div class="btns_template icon_plus_template">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_template icon_more_template">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
