<!-- /////////////////////////////////////////////// -->
<!-- carousel all instructors -->

<section class="section_carousel section_mid">
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner ctn_carousels">
        <div class="carousel-item active carousels" style="background: #b3b3b3">
  
            <div class="left_courses">
                <h2>“ I beleive baking can have infinite possibilities. 
                    <a class="central">
                    <iconify-icon
                    icon="mdi:more-circle"
                    class="icon_carousels"
                    ></iconify-icon>
                </a>”
                </h2>
                <a class="central">
                -- Manon Lambert
                <iconify-icon
                    icon="mdi:more-circle"
                    class="icon_carousels"
                ></iconify-icon>
                </a>
            </div>
            <div class="right_courses">    
                <img
                src="/uploads/baguette.jpg"
                class="d-block "
                alt="..."
            />
            </div>
        </div>
        <div class="carousel-item carousels" style="background: #627e65">
  
            <div class="left_courses">
                <h2>“ I beleive baking can have infinite possibilities. ”</h2>
                <a class="central">
                -- Manon Lambert
                <iconify-icon
                    icon="mdi:more-circle"
                    class="icon_carousels"
                ></iconify-icon>
                </a>
            </div>
            <div class="right_courses"> 
                <img
                src="/uploads/croissant.jpg"
                class="d-block "
                alt="..."
            />
            </div> 
        </div>
        <div class="carousel-item carousels" style="background: #d3be4a">
  
            <div class="left_courses">
                <h2>“ I beleive baking can have infinite possibilities. ”</h2>
                <a class="central">
                -- Manon Lambert
                <iconify-icon
                    icon="mdi:more-circle"
                    class="icon_carousels"
                ></iconify-icon>
                </a>
            </div class="right_courses">
            <img
                src="/uploads/pizza.jpg"
                class="d-block "
                alt="..."
            />
            </div>
      </div>
    </div>
  </section>

<!-- /////////////////////////////////////////////// -->
<!-- all courses -->

<section class="section_display section_mid">
  <div class="ctn_display">
    <div class="ctn_title_display">
      <div class="centralA">
        <i class="uil uil-book-open icon_title_display"></i></i>
        <h2 class="title_display">All Courses</h2>
      </div>
      <div class="mid_display">
        <a href="#" class="ctn_viceTitle_display"
          >Show Ramdon
          <iconify-icon
            icon="fa:random"
            class="icon_viceTitle_display"
          ></iconify-icon>
        </a>
      </div>
    </div>
    <div>
      <ul class="ul_course">
        <li class="ctn_course mid_course">
          <a href="#">
            <div class="ctn_image_course">
              <div
                class="image_course"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_course">
            <ul>
              <li class="content_course">
                <div><i class="uil uil-book-open icon_content_course"></i></div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_course">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_course"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_course">
                <div>
                  <i class="uil uil-calender icon_content_course"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_course address_course">
                <div>
                  <i class="uil uil-map-marker icon_content_course"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence </a>
                </div>
              </li>

              <li class="ctn_btns_course">
                <div class="btns_course icon_plus_course">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_course icon_more_course">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="ctn_course mid_course">
          <a href="#">
            <div class="ctn_image_course">
              <div
                class="image_course"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_course">
            <ul>
              <li class="content_course">
                <div><i class="uil uil-book-open icon_content_course"></i></div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_course">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_course"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_course">
                <div>
                  <i class="uil uil-calender icon_content_course"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_course address_course">
                <div>
                  <i class="uil uil-map-marker icon_content_course"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence </a>
                </div>
              </li>

              <li class="ctn_btns_course">
                <div class="btns_course icon_plus_course">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_course icon_more_course">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="ctn_course mid_course">
          <a href="#">
            <div class="ctn_image_course">
              <div
                class="image_course"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_course">
            <ul>
              <li class="content_course">
                <div><i class="uil uil-book-open icon_content_course"></i></div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_course">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_course"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_course">
                <div>
                  <i class="uil uil-calender icon_content_course"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_course address_course">
                <div>
                  <i class="uil uil-map-marker icon_content_course"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence </a>
                </div>
              </li>

              <li class="ctn_btns_course">
                <div class="btns_course icon_plus_course">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_course icon_more_course">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="ctn_course mid_course">
          <a href="#">
            <div class="ctn_image_course">
              <div
                class="image_course"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_course">
            <ul>
              <li class="content_course">
                <div><i class="uil uil-book-open icon_content_course"></i></div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_course">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_course"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_course">
                <div>
                  <i class="uil uil-calender icon_content_course"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_course address_course">
                <div>
                  <i class="uil uil-map-marker icon_content_course"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence </a>
                </div>
              </li>

              <li class="ctn_btns_course">
                <div class="btns_course icon_plus_course">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_course icon_more_course">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="ctn_course mid_course">
          <a href="#">
            <div class="ctn_image_course">
              <div
                class="image_course"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_course">
            <ul>
              <li class="content_course">
                <div><i class="uil uil-book-open icon_content_course"></i></div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_course">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_course"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_course">
                <div>
                  <i class="uil uil-calender icon_content_course"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_course address_course">
                <div>
                  <i class="uil uil-map-marker icon_content_course"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence </a>
                </div>
              </li>

              <li class="ctn_btns_course">
                <div class="btns_course icon_plus_course">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_course icon_more_course">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
