<section loading="lazy" class="back_image_auth back_image_error">
  <div class="filter_auth filter_error"></div>
  <div class="center_auth center_error">
    <h2 class="title_error">Page introuvable !</h2>

    <div class="ctn_logo_error">
      <a href="/">
        <img src="/images/logo_footer.png" class="logo_error" />
      </a>
    </div>

    <div class="link_auth">
      vous avez besoin d'aide ? <br />
      <a title="Créer un compte" href="Mailto:billingran@gmail.com">Contact</a>
      ou
      <a title="Menu" href="/">Menu</a>
    </div>
  </div>
</section>

<%- include("./partials/footer") %>
