<!-- Home One -->
<section class="back_image central">
  <div class="filter"></div>
  <h3 class="title_homeOne">
    Huge selection of all kinds <br />of baking course
  </h3>
  <div class="btns_homeOne">
    <ul class="ul_btn_homeOne horizontal">
      <li class="last padding_btn btn_NBorder">
        <a href="#" class="color_btn">Latest Course</a>
      </li>
      <li class="random padding_btn btn_NBorder">
        <a href="#" class="color_btn">Show Random</a>
      </li>
    </ul>
  </div>
</section>

<!-- Home Three -->
<section class="section_homeThree central">
  <div class="ctn_image">
    <div class="ctn_image_wanted">
      <img
        src="/images/image_wanted.png"
        alt="background_image"
        class="image_homeThree"
      />
    </div>

    <div class="ctn_test">
      <!-- t1 -->

      <svg
        class="test11 central_WT"
        viewBox="0 0 584 650"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M43.798 540.202C35.7304 548.27 35.6892 561.405 44.2529 568.944C88.9868 608.325 143.804 634.739 202.764 645.098C268.523 656.65 336.244 647.67 396.718 619.378C457.193 591.087 507.488 544.856 540.762 486.973C574.037 429.09 588.677 362.363 582.692 295.866C576.707 229.37 550.387 166.33 507.312 115.318C464.236 64.307 406.495 27.8 341.94 10.7614C277.386 -6.27727 209.149 -3.02067 146.511 20.0883C90.3476 40.8083 41.1281 76.5864 4.14506 123.322C-2.93484 132.269 -0.548806 145.186 8.82967 151.683C18.2081 158.181 31.021 155.79 38.1834 146.909C70.2737 107.119 112.613 76.6326 160.811 58.8511C215.487 38.68 275.048 35.8374 331.396 50.7099C387.744 65.5825 438.145 97.4484 475.744 141.975C513.344 186.501 536.317 241.527 541.541 299.57C546.766 357.613 533.987 415.857 504.942 466.382C475.898 516.906 431.997 557.259 379.211 581.955C326.424 606.65 267.312 614.488 209.913 604.404C159.315 595.515 112.212 573.078 73.5325 539.658C64.8994 532.199 51.8655 532.134 43.798 540.202Z"
          fill="#f3f3f3"
        />
      </svg>

      <!-- t2 -->

      <svg
        class="test22 central_WT"
        viewBox="0 0 950 950"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M919.807 475C936.482 475 950.1 461.467 949.041 444.826C943.509 357.896 914.156 273.947 863.927 202.308C807.908 122.41 728.64 61.7036 636.902 28.4436C545.165 -4.81644 445.41 -9.01591 351.202 16.4162C256.994 41.8483 172.905 95.6778 110.368 170.585C47.8312 245.492 9.8821 337.843 1.68076 435.078C-6.52058 532.313 15.4239 629.715 64.5302 714.039C113.637 798.363 187.522 865.516 276.139 906.369C355.595 942.998 443.437 956.889 529.957 946.81C546.52 944.881 557.404 929.065 554.426 912.658C551.448 896.251 535.736 885.48 519.156 887.256C444.87 895.214 369.607 882.964 301.42 851.53C224.068 815.871 159.576 757.254 116.712 683.65C73.8489 610.046 54.6942 525.027 61.8529 440.153C69.0116 355.279 102.136 274.669 156.723 209.285C211.31 143.9 284.709 96.914 366.94 74.7151C449.172 52.5161 536.245 56.1817 616.32 85.2134C696.395 114.245 765.586 167.234 814.484 236.975C857.589 298.454 883.08 370.32 888.516 444.833C889.729 461.463 903.132 475 919.807 475Z"
          fill="#DCA47D"
        />
      </svg>

      <!-- t3 -->
      <svg
        class="test33 central_WT"
        viewBox="0 0 1250 1249"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M625 38.7276C625 16.7866 607.194 -1.13154 585.297 0.262006C470.916 7.54145 360.456 46.164 266.195 112.254C161.066 185.964 81.189 290.264 37.4258 410.971C-6.33734 531.677 -11.863 662.934 21.6003 786.892C55.0636 910.85 125.892 1021.49 224.454 1103.78C323.016 1186.06 444.53 1236 572.471 1246.79C700.412 1257.58 828.572 1228.71 939.525 1164.09C1050.48 1099.48 1138.84 1002.26 1192.59 885.659C1240.79 781.112 1259.06 665.531 1245.8 551.689C1243.26 529.895 1222.45 515.574 1200.87 519.492C1179.28 523.41 1165.11 544.084 1167.44 565.9C1177.91 663.645 1161.8 762.675 1120.43 852.395C1073.51 954.174 996.387 1039.03 899.54 1095.43C802.692 1151.83 690.825 1177.03 579.149 1167.61C467.473 1158.2 361.407 1114.61 275.375 1042.79C189.343 970.961 127.519 874.383 98.3094 766.184C69.1002 657.984 73.9234 543.414 112.123 438.053C150.323 332.691 220.045 241.651 311.81 177.311C392.702 120.594 487.263 87.0523 585.306 79.9007C607.189 78.3045 625 60.6685 625 38.7276Z"
          fill="#6E1D0E"
        />
      </svg>
    </div>
  </div>
  <div class="ctn_text margin_wanted">
    <h3 class="title_homeThree">Our instructors</h3>
    <p class="text_homeThree">
      Are you an expert in the field of baking, with a desire to share your
      knowledge and skills with others? Do you have a passion for teaching and
      helping others grow? Then we want you!
      <br />
      As an Udemy instructor, you'll have the opportunity to create engaging,
      high-quality courses that meet the needs of today's learners. <br />
    </p>
    <div class="btns_homeThree">
      <ul class="horizontal">
        <li class="last padding_btn btn_NBorder">
          <a href="#" class="color_btn">See More</a>
        </li>
        <li class="random padding_btn btn_NBorder">
          <a href="#" class="color_btn">Join Us</a>
        </li>
      </ul>
    </div>
  </div>
</section>
