<!-- Home One -->
<section class="back_image central">
  <div class="filter"></div>
  <h3 class="title_homeOne">
    Huge selection of all kinds <br />of baking course
  </h3>
  <div class="btns_homeOne">
    <ul class="ul_btn_homeOne horizontal">
      <li class="last padding_btn btn_NBorder">
        <a href="#" class="color_btn">Latest Course</a>
      </li>
      <li class="random padding_btn btn_NBorder">
        <a href="#" class="color_btn">Show Random</a>
      </li>
    </ul>
  </div>
</section>

<!-- Home Three -->
<section class="section_homeThree central senction_mid">
  <div class="ctn_image margin_wanted">
    <img
      src="/images/image_wanted.png"
      alt="background_image"
      class="image_homeThree"
    />
    <div class="test"></div>
  </div>
  <div class="ctn_text margin_wanted">
    <h3 class="title_homeThree">Our instructors</h3>
    <p class="text_homeThree">
      Are you an expert in the field of baking, with a desire to share your
      knowledge and skills with others? Do you have a passion for teaching and
      helping others grow? Then we want you!
      <br />
      As an Udemy instructor, you'll have the opportunity to create engaging,
      high-quality courses that meet the needs of today's learners. <br />
    </p>
    <div class="btns_homeThree">
      <ul class="horizontal">
        <li class="last padding_btn btn_NBorder">
          <a href="#" class="color_btn">See More</a>
        </li>
        <li class="random padding_btn btn_NBorder">
          <a href="#" class="color_btn">Join Us</a>
        </li>
      </ul>
    </div>
  </div>
</section>
