<!-- /////////////////////////////////////////////// -->
<!-- Home One -->

<section loading="lazy" class="back_image_homeOne">
  <div class="size_background_homeOne filter_homeOne"></div>
  <h2 class="title_homeOne">Find a Baking course</h2>
  <!-- <form method="POST" action="/search" class="form_homeOne">
    <label for="search"
      ><i class="uil uil-search icon_search_homeOne"></i
    ></label>
    <input
      id="search"
      type="search"
      name="searchTerm"
      placeholder="Searching..."
      autofocus
      class="input_homeOne"
    />
  </form> -->
  <div class="ctn_btns_homeOne">
    <ul class="ul_btns">
      <li>
        <a href="#" class="left_btns a_NBorder">Latest Course</a>
      </li>
      <li>
        <a href="#" class="right_btns a_NBorder">Show Random</a>
      </li>
    </ul>
  </div>
</section>

<!-- /////////////////////////////////////////////// -->
<!-- Home Two -->

<section class="section_display section_mid">
  <!-- categories -->
  <div>
    <ul class="ul_categories">
      <li class="mid_image">
        <a href="#">
          <div class="ctn_image ctn_image_category">
            <div
              loading="lazy"
              class="image image_category"
              style="background-image: url('/images/bakery.jpg')"
            >
              <h3 class="title_category">Bakery</h3>
            </div>
          </div>
        </a>
      </li>
      <li class="mid_image">
        <a href="#">
          <div class="ctn_image ctn_image_category">
            <div
              loading="lazy"
              class="image image_category"
              style="background-image: url('/images/pastry.jpg')"
            >
              <h3 class="title_category">Pastry</h3>
            </div>
          </div>
        </a>
      </li>
      <li class="mid_image">
        <a href="#">
          <div class="ctn_image ctn_image_category">
            <div
              loading="lazy"
              class="image image_category"
              style="background-image: url('/images/other.jpg')"
            >
              <h3 class="title_category">Others</h3>
            </div>
          </div>
        </a>
      </li>
      <li class="mid_image">
        <a href="#">
          <div class="ctn_image ctn_image_category">
            <div
              loading="lazy"
              class="image image_category"
              style="background-image: url('/images/view_all.jpg')"
            >
              <h3 class="title_category">View All</h3>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- Bakery display and template -->
  <div class="ctn_display">
    <div class="ctn_title_display">
      <div class="centralA">
        <iconify-icon
          icon="mdi:bread"
          class="icon_title_display"
        ></iconify-icon>
        <h2 class="title_display">Bakery Courses</h2>
      </div>
      <div class="mid_display">
        <a href="#" class="ctn_viceTitle_display"
          >View More
          <iconify-icon
            icon="mdi:more-circle"
            class="icon_viceTitle_display"
          ></iconify-icon>
        </a>
      </div>
    </div>
    <div>
      <ul class="ul_template">
        <li class="ctn_template mid_template">
          <a href="#">
            <div class="ctn_image_template">
              <div
                loading="lazy"
                class="image_template"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_template">
            <ul>
              <li class="content_template">
                <div>
                  <i class="uil uil-book-alt icon_content_template"></i>
                </div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_template"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <i class="uil uil-calender icon_content_template"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_template address_template">
                <div>
                  <i class="uil uil-map-marker icon_content_template"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence</a>
                </div>
              </li>

              <li class="ctn_btns_template">
                <div class="btns_template icon_plus_template">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_template icon_more_template">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Pastry display and template -->
  <div class="ctn_display">
    <div class="ctn_title_display">
      <div class="centralA">
        <iconify-icon icon="mdi:food-croissant" class="icon_title_display">
        </iconify-icon>
        <h2 class="title_display">Pastry Courses</h2>
      </div>
      <div class="mid_display">
        <a href="#" class="ctn_viceTitle_display"
          >View More
          <iconify-icon
            icon="mdi:more-circle"
            class="icon_viceTitle_display"
          ></iconify-icon>
        </a>
      </div>
    </div>
    <div>
      <ul class="ul_template">
        <li class="ctn_template mid_template">
          <a href="#">
            <div class="ctn_image_template">
              <div
                loading="lazy"
                class="image_template"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_template">
            <ul>
              <li class="content_template">
                <div>
                  <i class="uil uil-book-alt icon_content_template"></i>
                </div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_template"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <i class="uil uil-calender icon_content_template"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_template address_template">
                <div>
                  <i class="uil uil-map-marker icon_content_template"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence </a>
                </div>
              </li>

              <li class="ctn_btns_template">
                <div class="btns_template icon_plus_template">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_template icon_more_template">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Other display and template -->
  <div class="ctn_display">
    <div class="ctn_title_display">
      <div class="centralA">
        <iconify-icon
          icon="ion:pizza"
          class="icon_title_display"
        ></iconify-icon>
        <h2 class="title_display">Other Courses</h2>
      </div>
      <div class="mid_display">
        <a href="#" class="ctn_viceTitle_display"
          >View More
          <iconify-icon
            icon="mdi:more-circle"
            class="icon_viceTitle_display"
          ></iconify-icon>
        </a>
      </div>
    </div>
    <div>
      <ul class="ul_template">
        <li class="ctn_template mid_template">
          <a href="#">
            <div class="ctn_image_template">
              <div
                loading="lazy"
                class="image_template"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_template">
            <ul>
              <li class="content_template">
                <div>
                  <i class="uil uil-book-alt icon_content_template"></i>
                </div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_template"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <i class="uil uil-calender icon_content_template"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_template address_template">
                <div>
                  <i class="uil uil-map-marker icon_content_template"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence </a>
                </div>
              </li>

              <li class="ctn_btns_template">
                <div class="btns_template icon_plus_template">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_template icon_more_template">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- /////////////////////////////////////////////// -->
<!-- Home Three -->
<section class="section_homeThree section_mid">
  <!-- wanted image and svg -->
  <div class="ctn_svgs">
    <div class="ctn_image_homeThree">
      <img
        src="/images/image_wanted.png"
        alt="background_image"
        class="image_homeThree"
      />
    </div>
    <div>
      <svg
        class="ctn_mid_svgs"
        viewBox="0 0 1050 1050"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="anir_ctn_svg trans_origin"
          d="M165.445 860.29C151.966 872.86 151.16 894.064 164.56 906.718C248.515 985.997 356.549 1035.61 472.048 1047.32C598.647 1060.16 725.597 1026.58 829.291 952.822C932.985 879.07 1006.36 770.166 1035.78 646.366C1065.2 522.566 1048.65 392.295 989.212 279.781C929.777 167.268 831.501 80.1696 712.661 34.6853C593.82 -10.799 462.505 -11.5736 343.136 32.5057C223.768 76.5849 124.471 162.518 63.713 274.322C8.28134 376.325 -11.6303 493.529 6.53205 607.563C9.43092 625.764 27.4005 637.05 45.3806 633.001C63.3608 628.952 74.5262 611.101 71.796 592.874C57.0845 494.66 74.6499 393.976 122.356 306.19C175.39 208.599 262.063 133.591 366.256 95.1155C470.45 56.64 585.071 57.3161 688.804 97.0181C792.536 136.72 878.318 212.746 930.198 310.956C982.077 409.166 996.521 522.875 970.845 630.937C945.168 738.999 881.118 834.057 790.607 898.434C700.096 962.811 589.284 992.124 478.78 980.921C379.378 970.844 286.312 928.601 213.48 861.089C199.963 848.56 178.924 847.721 165.445 860.29Z"
          fill="#6E1D0E"
        />
        <path
          class="ani_ctn_svg trans_origin"
          d="M801.464 239.713C811.828 228.981 811.582 211.805 800.213 202.143C728.984 141.609 639.545 106.076 545.678 101.503C442.79 96.4915 341.584 129.018 260.881 193.034C180.178 257.05 125.472 348.198 106.937 449.526C88.4015 550.854 107.298 655.466 160.113 743.906C212.928 832.345 296.066 898.593 394.066 930.328C492.065 962.063 598.255 957.126 692.887 916.435C787.518 875.743 864.151 802.067 908.531 709.108C949.022 624.299 960.153 528.707 940.639 437.289C937.524 422.698 922.519 414.336 908.156 418.37C893.792 422.405 885.522 437.309 888.501 451.929C904.555 530.703 894.621 612.841 859.774 685.83C821.035 766.971 754.145 831.281 671.543 866.799C588.942 902.318 496.252 906.627 410.711 878.927C325.17 851.226 252.601 793.4 206.501 716.204C160.4 639.007 143.905 547.695 160.084 459.248C176.263 370.802 224.015 291.241 294.458 235.363C364.901 179.486 453.241 151.094 543.049 155.469C623.834 159.404 700.859 189.611 762.598 241.103C774.056 250.659 791.1 250.446 801.464 239.713Z"
          fill="#222222"
        />
        <path
          class="anir_ctn_svg trans_origin"
          d="M780.242 691.756C789.811 697.97 802.668 695.279 808.262 685.335C843.309 623.034 856.932 550.712 846.668 479.582C835.418 401.618 796.234 330.393 736.405 279.154C676.575 227.914 600.172 200.149 521.405 201.02C442.638 201.891 366.868 231.34 308.186 283.891C249.505 336.441 211.907 408.515 202.384 486.71C192.861 564.904 212.061 643.896 256.415 708.994C300.768 774.093 367.255 820.867 443.51 840.618C513.081 858.638 586.462 853.045 652.238 825.058C662.736 820.591 666.824 808.107 661.7 797.914C656.575 787.72 644.181 783.687 633.641 788.056C576.851 811.602 513.744 816.129 453.87 800.621C387.309 783.381 329.274 742.553 290.559 685.73C251.845 628.908 235.085 559.958 243.397 491.705C251.71 423.451 284.528 360.539 335.75 314.67C386.971 268.8 453.108 243.095 521.862 242.334C590.616 241.573 657.306 265.809 709.529 310.535C761.753 355.26 795.955 417.43 805.775 485.483C814.609 546.699 803.173 608.926 773.529 662.784C768.027 672.78 770.674 685.542 780.242 691.756Z"
          fill="#6B6D63"
        />
        <path
          class="ani_ctn_svg trans_origin"
          d="M338.965 427.083C331.99 423.375 323.285 426.007 320.028 433.202C299.616 478.285 294.584 528.985 305.955 577.422C318.418 630.513 349.74 677.271 394.094 708.999C438.449 740.728 492.817 755.267 547.088 749.913C601.359 744.56 651.839 719.677 689.139 679.894C726.439 640.111 748.021 588.134 749.871 533.631C751.72 479.128 733.712 425.808 699.195 383.588C664.677 341.367 616.001 313.12 562.217 304.099C513.149 295.87 462.878 304.154 419.202 327.425C412.232 331.139 410.165 339.996 414.315 346.717C418.464 353.438 427.256 355.472 434.261 351.822C472.007 332.157 515.257 325.227 557.486 332.309C604.432 340.183 646.92 364.839 677.049 401.692C707.179 438.545 722.898 485.087 721.283 532.661C719.669 580.235 700.831 625.604 668.272 660.33C635.714 695.055 591.652 716.774 544.28 721.448C496.909 726.121 449.452 713.43 410.736 685.735C372.02 658.04 344.681 617.227 333.802 570.885C324.016 529.199 328.148 485.592 345.343 446.659C348.534 439.434 345.939 430.791 338.965 427.083Z"
          fill="#DCA47D"
        />
      </svg>
    </div>
  </div>

  <!-- wanted text -->
  <div class="ctn_text">
    <h2 class="title_homeThree">Our Instructors</h2>
    <p class="text_homeThree">
      Are you an expert in the field of baking, with a desire to share your
      knowledge and skills with others? Do you have a passion for teaching and
      helping others grow? Then we want you! As an Udemy instructor, you'll have
      the opportunity to create engaging, high-quality courses that meet the
      needs of today's learners. <br />
    </p>
    <div>
      <ul class="ul_btns ul_flexStart_btns">
        <li>
          <a href="/course/instructors" class="left_btns a_NBorder">See More</a>
        </li>
        <li>
          <a href="/auth/joinus" class="right_btns a_NBorder">Join Us</a>
        </li>
      </ul>
    </div>
  </div>
</section>
