<!-- Home One -->
<section class="back_image central">
  <div class="filter"></div>
  <h3 class="title_homeOne">
    Huge selection of all kinds <br />of baking course
  </h3>
  <div class="btns_homeOne">
    <ul class="ul_btn_homeOne horizontal">
      <li class="last padding_btn btn_NBorder">
        <a href="#" class="color_btn">Latest Course</a>
      </li>
      <li class="random padding_btn btn_NBorder">
        <a href="#" class="color_btn">Show Random</a>
      </li>
    </ul>
  </div>
</section>

<!-- Home Three -->
<section class="section_homeThree section_mid centralA">
  <div class="ctn_image">
    <div class="test1">
      <img
        src="/images/image_wanted.png"
        alt="background_image"
        class="image_homeThree"
      />
    </div>
    <div class="test2">
      <svg
        class="box"
        viewBox="0 0 810 850"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="t1"
          d="M291.934 455.296C287.696 456.432 285.156 460.799 286.558 464.957C295.346 491.008 312.511 513.515 335.484 528.887C360.663 545.736 391.105 552.866 421.148 548.953C451.191 545.039 478.79 530.347 498.813 507.609C518.835 484.871 529.918 455.635 530 425.338C530.082 395.041 519.157 365.746 499.258 342.9C479.359 320.054 451.84 305.213 421.819 301.137C391.797 297.06 361.317 304.026 336.047 320.739C312.992 335.986 295.705 358.399 286.776 384.403C285.351 388.553 287.867 392.934 292.1 394.093C296.332 395.251 300.675 392.747 302.138 388.61C310.024 366.318 324.971 347.115 344.813 333.993C366.87 319.405 393.476 313.325 419.681 316.883C445.885 320.441 469.906 333.396 487.275 353.337C504.645 373.279 514.18 398.85 514.109 425.295C514.037 451.74 504.363 477.26 486.887 497.107C469.41 516.954 445.319 529.778 419.095 533.195C392.872 536.611 366.3 530.387 344.321 515.68C324.551 502.45 309.708 483.167 301.943 460.833C300.502 456.688 296.173 454.16 291.934 455.296Z"
          fill="#222222"
        />
        <path
          class="t2"
          d="M20.5759 528.006C6.16446 531.868 -2.4708 546.717 2.29806 560.854C32.1764 649.428 90.5386 725.95 168.644 778.215C254.255 835.502 357.758 859.746 459.904 846.439C562.05 833.131 655.887 783.178 723.963 705.87C792.039 628.561 829.72 529.159 829.999 426.15C830.277 323.14 793.134 223.536 725.478 145.86C657.821 68.1841 564.256 17.7241 462.183 3.86442C360.11 -9.99528 256.477 13.6887 170.558 70.5116C92.1712 122.353 33.3959 198.558 3.03887 286.969C-1.8064 301.08 6.74842 315.976 21.1388 319.916C35.5291 323.855 50.2941 315.339 55.2698 301.273C82.0808 225.483 132.901 160.193 200.362 115.577C275.359 65.9779 365.817 45.3048 454.913 57.4026C544.01 69.5003 625.68 113.545 684.736 181.346C743.792 249.148 776.213 336.09 775.969 426.003C775.726 515.917 742.835 602.683 683.414 670.163C623.992 737.644 542.085 781.246 452.924 792.862C363.763 804.478 273.419 783.315 198.691 733.311C131.472 688.331 81.0062 622.768 54.6056 546.833C49.7061 532.74 34.9873 524.145 20.5759 528.006Z"
          fill="#6E1D0E"
        />
        <path
          class="t3"
          d="M620.202 209.798C628.27 201.73 628.311 188.594 619.747 181.055C566.094 133.821 498.185 105.459 426.475 100.71C347.876 95.5052 270.06 119.024 207.502 166.893C144.943 214.762 101.899 283.722 86.3742 360.949C70.8499 438.176 83.902 518.413 123.103 586.738C162.305 655.063 224.987 706.825 299.492 732.397C373.998 757.97 455.255 755.612 528.153 725.763C601.05 695.914 660.626 640.605 695.8 570.122C727.89 505.818 737.677 432.878 723.977 362.721C721.791 351.523 710.43 344.929 699.393 347.822C688.357 350.715 681.835 362 683.918 373.218C695.141 433.662 686.449 496.332 658.831 551.673C628.129 613.195 576.127 661.473 512.497 687.528C448.867 713.582 377.939 715.64 312.905 693.318C247.872 670.997 193.158 625.815 158.94 566.177C124.723 506.538 113.33 436.501 126.881 369.092C140.431 301.682 178.003 241.489 232.609 199.705C287.215 157.922 355.138 137.393 423.745 141.937C485.46 146.023 543.95 170.147 590.468 210.341C599.101 217.801 612.135 217.865 620.202 209.798Z"
          fill="#222222"
        />
        <path
          class="t4"
          d="M587.47 530.349C594.311 534.298 603.102 531.972 606.609 524.894C628.582 480.552 635.38 430.058 625.706 381.254C615.104 327.76 585.433 279.938 542.213 246.681C498.993 213.424 445.165 196.996 390.74 200.452C336.315 203.909 284.998 227.014 246.332 265.471C207.666 303.928 184.284 355.12 180.533 409.525C176.782 463.931 192.919 517.846 225.941 561.246C258.964 604.645 306.625 634.574 360.061 645.466C408.812 655.404 459.342 648.879 503.803 627.146C510.899 623.678 513.273 614.899 509.361 608.037C505.448 601.175 496.733 598.836 489.605 602.239C451.196 620.575 407.73 625.991 365.774 617.439C319.131 607.931 277.529 581.807 248.705 543.925C219.88 506.043 205.795 458.981 209.069 411.492C212.343 364.004 232.753 319.32 266.503 285.752C300.254 252.183 345.047 232.016 392.553 228.999C440.059 225.982 487.044 240.321 524.769 269.35C562.495 298.379 588.393 340.122 597.648 386.815C605.974 428.817 600.322 472.253 581.779 510.562C578.337 517.672 580.63 526.4 587.47 530.349Z"
          fill="#DCA47D"
        />
      </svg>
    </div>
  </div>
  <div class="ctn_text">
    <h3 class="title_homeThree">Our instructors</h3>
    <p class="text_homeThree">
      Are you an expert in the field of baking, with a desire to share your
      knowledge and skills with others? Do you have a passion for teaching and
      helping others grow? Then we want you! As an Udemy instructor, you'll have
      the opportunity to create engaging, high-quality courses that meet the
      needs of today's learners. <br />
    </p>
    <div class="btns_homeThree">
      <ul class="horizontal">
        <li class="last padding_btn btn_NBorder">
          <a href="#" class="color_btn">See More</a>
        </li>
        <li class="random padding_btn btn_NBorder">
          <a href="#" class="color_btn">Join Us</a>
        </li>
      </ul>
    </div>
  </div>
</section>
