<!-- /////////////////////////////////////////////// -->
<!-- carousel all instructors -->

<section class="section_carousel section_mid">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner ctn_carousels">
      <div class="carousel-item active ctn_carousel">
        <div class="carousels" style="background: #b3b3b3">
          <div class="filter_instructors"></div>
          <div class="left_instructors">
            <h2>“ I beleive baking can have infinite possibilities. ”</h2>
            <a class="central">
              -- Manon Lambert
              <iconify-icon
                icon="mdi:more-circle"
                class="icon_carousels"
              ></iconify-icon>
            </a>
          </div>
          <div class="right_instructors">
            <img
              src="/images/Auguste_Lefebvre_R.png"
              class="d-block"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="carousel-item ctn_carousel">
        <div class="carousels" style="background: #627e65">
          <div class="filter_instructors"></div>

          <div class="left_instructors">
            <h2>“ I beleive baking can have infinite possibilities. ”</h2>
            <a class="central">
              -- Manon Lambert
              <iconify-icon
                icon="mdi:more-circle"
                class="icon_carousels"
              ></iconify-icon>
            </a>
          </div>
          <div class="right_instructors">
            <img src="/images/Élise_Maillot_R.png" class="d-block" alt="..." />
          </div>
        </div>
      </div>
      <div class="carousel-item ctn_carousel">
        <div class="carousels" style="background: #d3be4a">
          <div class="filter_instructors"></div>
          <div class="left_instructors">
            <h2>“ I beleive baking can have infinite possibilities. ”</h2>
            <a class="central">
              -- Manon Lambert
              <iconify-icon
                icon="mdi:more-circle"
                class="icon_carousels"
              ></iconify-icon>
            </a>
          </div>
          <div class="right_instructors">
            <img
              src="/images/Joséphine_Fabret_R.png"
              class="d-block"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /////////////////////////////////////////////// -->
<!-- All instructors -->

<section class="section_display section_mid">
  <div class="ctn_display">
    <div class="ctn_title_display">
      <div class="centralA">
        <iconify-icon
          icon="tabler:chef-hat"
          class="icon_title_display"
        ></iconify-icon>
        <h2 class="title_display">Instructors</h2>
      </div>
      <div class="mid_display">
        <a href="#" class="ctn_viceTitle_display"
          >Show Ramdon
          <iconify-icon
            icon="fa:random"
            class="icon_viceTitle_display"
          ></iconify-icon>
        </a>
      </div>
    </div>
    <div>
      <ul class="ctn_images_instructors">
        <li class="mid_display">
          <a href="#">
            <div class="ctn_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Auguste_Lefebvre.jpg')"
              ></div>
              <h3 class="title_instructor">Auguste</h3>
            </div>
          </a>
        </li>
        <li class="mid_display">
          <a href="#">
            <div class="ctn_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Christine_Leconte.jpg')"
              ></div>
              <h3 class="title_instructor">Christine</h3>
            </div>
          </a>
        </li>
        <li class="mid_display">
          <a href="#">
            <div class="ctn_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Claudine_Lefort.jpg')"
              ></div>
              <h3 class="title_instructor">Claudine</h3>
            </div>
          </a>
        </li>
        <li class="mid_display">
          <a href="#">
            <div class="ctn_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Emmanuel_Brunel.jpg')"
              ></div>
              <h3 class="title_instructor">Emmanuel</h3>
            </div>
          </a>
        </li>
        <li class="mid_display">
          <a href="#">
            <div class="ctn_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Joséphine_Fabret.jpg')"
              ></div>
              <h3 class="title_instructor">Joséphine</h3>
            </div>
          </a>
        </li>
        <li class="mid_display">
          <a href="#">
            <div class="ctn_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Sophie_Ferrand.jpg')"
              ></div>
              <h3 class="title_instructor">Sophie</h3>
            </div>
          </a>
        </li>
        <li class="mid_display">
          <a href="#">
            <div class="ctn_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Sébastien_Paul.jpg')"
              ></div>
              <h3 class="title_instructor">Sébastien</h3>
            </div>
          </a>
        </li>
        <li class="mid_display">
          <a href="#">
            <div class="ctn_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Élise_Maillot.jpg')"
              ></div>
              <h3 class="title_instructor">Élise</h3>
            </div>
          </a>
        </li>
        <li class="mid_display">
          <a href="#">
            <div class="ctn_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Élise_Maillot.jpg')"
              ></div>
              <h3 class="title_instructor">Élise</h3>
            </div>
          </a>
        </li>
        <li class="mid_display">
          <a href="#">
            <div class="ctn_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Élise_Maillot.jpg')"
              ></div>
              <h3 class="title_instructor">Élise</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
