<!-- /////////////////////////////////////////////// -->
<!-- profile instructor -->

<section class="section_profile">
  <div class="ctn_profile">
    <div class="ctn_image_profile">
      <a href="#">
        <div class="ctn_image ctn_image_instructor">
          <div
            class="image image_instructor"
            style="background-image: url('/uploads/Emmanuel_Brunel.jpg')"
          ></div>
        </div>
      </a>
    </div>
    <div class="ctn_info_profile">
      <div class="ctn_display">
        <div class="ctn_title_display">
          <div class="centralA">
            <iconify-icon
              icon="tabler:chef-hat"
              class="icon_title_display"
            ></iconify-icon>
            <h2 class="title_display">Jasmin Dupre</h2>
          </div>
          <div class="mid_display">
            <a href="#" class="ctn_viceTitle_display"
              >Show Ramdon
              <iconify-icon
                icon="fa:random"
                class="icon_viceTitle_display"
              ></iconify-icon>
            </a>
          </div>
        </div>
        <div class="test">
          <p>
            Hello, my name is Lily and I am a professional baker with 5 years of
            experience. I have a passion for baking and creating unique and
            delicious treats. What I love most about baking is the opportunity
            to share my knowledge and skills with others. I believe that anyone
            can learn how to bake, and I enjoy teaching others through workshops
            and sharing my recipes online. If you're looking for a baker who is
            passionate about their craft and loves to share their skills with
            others, then I'm your girl!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /////////////////////////////////////////////// -->
<!-- courses instructor -->

<section class="section_display section_mid">
  <div class="ctn_display">
    <div class="ctn_title_display">
      <div class="centralA">
        <i class="uil uil-book-open icon_title_display"></i>
        <h2 class="title_display">All courses of Jasmin Dupre</h2>
      </div>
      <div class="mid_display">
        <a href="#" class="ctn_viceTitle_display"
          >Show Ramdon
          <iconify-icon
            icon="fa:random"
            class="icon_viceTitle_display"
          ></iconify-icon>
        </a>
      </div>
    </div>
    <div>
      <ul class="ul_template">
        <li class="ctn_template mid_template">
          <a href="#">
            <div class="ctn_image_template">
              <div
                class="image_template"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_template">
            <ul>
              <li class="content_template">
                <div>
                  <i class="uil uil-book-open icon_content_template"></i>
                </div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_template"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <i class="uil uil-calender icon_content_template"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_template address_template">
                <div>
                  <i class="uil uil-map-marker icon_content_template"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence </a>
                </div>
              </li>

              <li class="ctn_btns_template">
                <div class="btns_template icon_plus_template">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_template icon_more_template">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="ctn_template mid_template">
          <a href="#">
            <div class="ctn_image_template">
              <div
                class="image_template"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_template">
            <ul>
              <li class="content_template">
                <div>
                  <i class="uil uil-book-open icon_content_template"></i>
                </div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_template"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <i class="uil uil-calender icon_content_template"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_template address_template">
                <div>
                  <i class="uil uil-map-marker icon_content_template"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence </a>
                </div>
              </li>

              <li class="ctn_btns_template">
                <div class="btns_template icon_plus_template">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_template icon_more_template">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="ctn_template mid_template">
          <a href="#">
            <div class="ctn_image_template">
              <div
                class="image_template"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_template">
            <ul>
              <li class="content_template">
                <div>
                  <i class="uil uil-book-open icon_content_template"></i>
                </div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_template"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <i class="uil uil-calender icon_content_template"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_template address_template">
                <div>
                  <i class="uil uil-map-marker icon_content_template"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence </a>
                </div>
              </li>

              <li class="ctn_btns_template">
                <div class="btns_template icon_plus_template">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_template icon_more_template">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="ctn_template mid_template">
          <a href="#">
            <div class="ctn_image_template">
              <div
                class="image_template"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_template">
            <ul>
              <li class="content_template">
                <div>
                  <i class="uil uil-book-open icon_content_template"></i>
                </div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_template"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <i class="uil uil-calender icon_content_template"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_template address_template">
                <div>
                  <i class="uil uil-map-marker icon_content_template"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence </a>
                </div>
              </li>

              <li class="ctn_btns_template">
                <div class="btns_template icon_plus_template">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_template icon_more_template">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="ctn_template mid_template">
          <a href="#">
            <div class="ctn_image_template">
              <div
                class="image_template"
                style="background-image: url('/uploads/baguette.jpg')"
              ></div>
            </div>
          </a>
          <div class="ctn_content_template">
            <ul>
              <li class="content_template">
                <div>
                  <i class="uil uil-book-open icon_content_template"></i>
                </div>
                <div>
                  <a href="#">Baguette</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <iconify-icon
                    icon="tabler:chef-hat"
                    class="icon_content_template"
                  ></iconify-icon>
                </div>
                <div>
                  <a href="#">Jasmin Dupre</a>
                </div>
              </li>

              <li class="content_template">
                <div>
                  <i class="uil uil-calender icon_content_template"></i>
                </div>
                <div>
                  <a href="#">3/4/2023</a>
                </div>
              </li>

              <li class="content_template address_template">
                <div>
                  <i class="uil uil-map-marker icon_content_template"></i>
                </div>
                <div>
                  <a href="#"> 8 avenue de Carthage, 13100 Aix en-provence </a>
                </div>
              </li>

              <li class="ctn_btns_template">
                <div class="btns_template icon_plus_template">
                  <a href="#">
                    <i class="uil uil-plus"></i>
                  </a>
                </div>
                <div class="btns_template icon_more_template">
                  <a href="#">
                    <i class="uil uil-ellipsis-h"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
