<!-- Bakery courses -->
<section class="section_mid">
  <div class="ctn_instructors">
    <div class="ctn_title_instructors">
      <div class="centralA">
        <iconify-icon icon="mdi:bread" class="icon_title_course"></iconify-icon>
        <h2 class="title_instructors">Our Instructors</h2>
      </div>
      <div>
        <a href="#" class="ctn_more_title"
          >View More
          <iconify-icon
            icon="mdi:more-circle"
            class="icon_more_title"
          ></iconify-icon>
        </a>
      </div>
    </div>
    <div>
      <ul class="ctn_images_instructors">
        <li class="instructors_mid">
          <a href="#">
            <div class="size_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Auguste_Lefebvre.jpg')"
              >
                <h3 class="title_instructor">Auguste Lefebvre</h3>
              </div>
            </div>
          </a>
        </li>
        <li class="instructors_mid">
          <a href="#">
            <div class="size_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Christine_Leconte.jpg')"
              >
                <h3 class="title_instructor">Christine Leconte</h3>
              </div>
            </div>
          </a>
        </li>
        <li class="instructors_mid">
          <a href="#">
            <div class="size_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Claudine_Lefort.jpg')"
              >
                <h3 class="title_instructor">Claudine Lefort</h3>
              </div>
            </div>
          </a>
        </li>
        <li class="instructors_mid">
          <a href="#">
            <div class="size_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Emmanuel_Brunel.jpg')"
              >
                <h3 class="title_instructor">Emmanuel Brunel</h3>
              </div>
            </div>
          </a>
        </li>
        <li class="instructors_mid">
          <a href="#">
            <div class="size_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Joséphine_Fabret.jpg')"
              >
                <h3 class="title_instructor">Joséphine Fabret</h3>
              </div>
            </div>
          </a>
        </li>
        <li class="instructors_mid">
          <a href="#">
            <div class="size_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Sophie_Ferrand.jpg')"
              >
                <h3 class="title_instructor">Sophie Ferrand</h3>
              </div>
            </div>
          </a>
        </li>
        <li class="instructors_mid">
          <a href="#">
            <div class="size_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Sébastien_Paul.jpg')"
              >
                <h3 class="title_instructor">Sébastien Paul</h3>
              </div>
            </div>
          </a>
        </li>
        <li class="instructors_mid">
          <a href="#">
            <div class="size_image_instructor">
              <div
                class="image_instructor"
                style="background-image: url('/uploads/Élise_Maillot.jpg')"
              >
                <h3 class="title_instructor">Élise Maillot</h3>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
