<!-- /////////////////////////////////////////////// -->
<!-- join us -->

<section loading="lazy" class="back_image_auth back_image_joinus">
  <div class="filter_auth filter_joinus"></div>
  <div class="ctn_image_joinus">
    <img src="/images/image_open_join_us.png" alt="" />
  </div>
  <div class="center_auth center_joinus">
    <h2>Join Us</h2>
    <form action="#" method="post">
      <div class="flex">
        <div class="txt_field_auth">
          <input id="firstname" type="text" name="firstname" required />
          <span></span>
          <i class="uil uil-parking-circle up_joinus"></i>
          <label for="firstname" class="up_joinus">Firstname</label>
        </div>
        <div class="txt_field_auth">
          <input id="lastname" type="text" name="lastname" required />
          <span></span>
          <i class="uil uil-user-circle up_joinus"></i>
          <label for="lastname" class="up_joinus">Lastname</label>
        </div>
      </div>
      <div class="flex">
        <div class="txt_field_auth">
          <input id="firstname" type="text" name="firstname" required />
          <span></span>
          <i class="uil uil-swatchbook up_joinus"></i>
          <label for="firstname" class="up_joinus">Theme color</label>
        </div>
        <div class="txt_field_auth">
          <input id="lastname" type="text" name="lastname" required />
          <span></span>
          <i class="uil uil-bookmark up_joinus"></i>
          <label for="lastname" class="up_joinus">Fath</label>
        </div>
      </div>
      <div class="txt_field_auth">
        <input id="email" type="text" name="email" required />
        <span></span>
        <i class="uil uil-envelope-alt up_joinus"></i>
        <label for="email" class="up_joinus">Email</label>
      </div>
      <div class="txt_field_auth">
        <input id="password" type="text" name="password" required />
        <span></span>
        <i class="uil uil-lock up_joinus"></i>
        <label for="password" class="up_joinus">Password</label>
      </div>
      <div class="txt_field_auth">
        <textarea name="introduction" id="introduction" required></textarea>
        <span></span>
        <i class="uil uil-file-alt up_joinus"></i>
        <label for="introduction" class="up_joinus">Introduction</label>
      </div>
      <div class="txt_field_auth">
        <input
          id="image_instructor"
          type="file"
          name="image_instructor"
          accept="image/*"
          multiple
          required
        />
        <span></span>
        <label for="image_instructor" class="upload_joinus a_NBorder"
          ><i class="uil uil-image"></i>Image Upload</label
        >
      </div>
      <input type="submit" value="Join Us" />
      <div class="link_auth">
        Already a member ? <a href="#">Login</a> or <a href="#">Home</a>
      </div>
    </form>
  </div>
</section>
