<section class="back_image_auth back_image_joinus">
  <div class="filter_auth"></div>
  <div class="ctn_image_joinus">
    <img src="/images/image_open_join_us.png" alt="" />
  </div>
  <div class="center_auth">
    <h2 class="font_weight_auth">Join Us</h2>
    <form action="#" method="post">
      <div class="txt_field_auth">
        <input id="firstname" type="text" name="firstname" required />
        <span></span>
        <i class="uil uil-parking-circle"></i>
        <label for="firstname">Firstname</label>
      </div>

      <div class="txt_field_auth">
        <input id="lastname" type="text" name="lastname" required />
        <span></span>
        <i class="uil uil-user-circle"></i>
        <label for="lastname">Lastname</label>
      </div>
      <div class="txt_field_auth">
        <input id="email" type="text" name="email" required />
        <span></span>
        <i class="uil uil-envelope-alt"></i>
        <label for="email">Email</label>
      </div>
      <div class="txt_field_auth">
        <input id="password" type="text" name="password" required />
        <span></span>
        <i class="uil uil-lock"></i>
        <label for="password">Password</label>
      </div>
      <input type="submit" value="Join Us" />
      <div class="link_auth">
        Already a member ? <a href="#">Login</a> or <a href="#">Home</a>
      </div>
    </form>
  </div>
</section>
