<!-- /////////////////////////////////////////////// -->
<!-- join us -->

<section loading="lazy" class="back_image_auth back_image_joinus">
  <div class="filter_auth filter_joinus"></div>
  <div class="ctn_image_joinus">
    <img src="/images/image_open_join_us.png" alt="" />
  </div>
  <div class="center_auth center_joinus">
    <h2>Join Us</h2>
    <form action="/auth/joinus" enctype="multipart/form-data" method="POST">
      <%- include("partials/message") %>

      <div class="flex">
        <div class="txt_field_auth">
          <input id="firstnameUser" type="text" name="firstnameUser" required />
          <span></span>
          <i class="uil uil-parking-circle up_joinus"></i>
          <label for="firstnameUser" class="up_joinus">Firstname</label>
        </div>

        <div class="txt_field_auth">
          <input id="lastnameUser" type="text" name="lastnameUser" required />
          <span></span>
          <i class="uil uil-user-circle up_joinus"></i>
          <label for="lastnameUser" class="up_joinus">Lastname</label>
        </div>
      </div>

      <div class="flex">
        <div class="txt_field_auth">
          <input
            id="themeColorUser"
            type="text"
            name="themeColorUser"
            required
          />
          <span></span>
          <i class="uil uil-swatchbook up_joinus"></i>
          <label for="themeColorUser" class="up_joinus">Theme color</label>
        </div>

        <div class="txt_field_auth">
          <input id="fathUser" type="text" name="fathUser" required />
          <span></span>
          <i class="uil uil-bookmark up_joinus"></i>
          <label for="fathUser" class="up_joinus">Fath</label>
        </div>
      </div>

      <div class="txt_field_auth">
        <input id="emailUser" type="email" name="emailUser" required />
        <span></span>
        <i class="uil uil-envelope-alt up_joinus"></i>
        <label for="emailUser" class="up_joinus">Email</label>
      </div>

      <div class="txt_field_auth">
        <input id="passwordUser" type="password" name="passwordUser" required />
        <span></span>
        <i class="uil uil-lock up_joinus"></i>
        <label for="passwordUser" class="up_joinus">Password</label>
      </div>

      <div class="txt_field_auth">
        <textarea
          name="introductionUser"
          id="introductionUser"
          required
        ></textarea>
        <span></span>
        <i class="uil uil-file-alt up_joinus"></i>
        <label for="introductionUser" class="up_joinus">Introduction</label>
      </div>

      <div class="txt_field_auth joinUs_div">
        <input
          id="imageUser"
          type="file"
          name="imageUser"
          accept="image/*"
          multiple
        />
        <span></span>
        <label for="imageUser" class="upload_joinus a_NBorder"
          ><i class="uil uil-image"></i>Image Upload</label
        >
      </div>

      <div class="img_list"></div>

      <input type="submit" value="Join us" />

      <div class="link_auth">
        Already a member ? <a href="/auth/login">Login</a> or
        <a href="/">Home</a>
      </div>
    </form>
  </div>
</section>
