<!-- /////////////////////////////////////////////// -->
<!-- login -->

<section loading="lazy" class="back_image_auth back_image_login">
  <div class="filter_auth filter_login"></div>
  <div class="center_auth center_login">
    <h2 class="font_weight_auth">Se connecter</h2>
    <form action="/auth/login" method="POST">
      <%- include("partials/message") %>

      <div class="txt_field_auth">
        <input id="username" type="text" name="username" required />
        <span></span>
        <i class="uil uil-envelope-alt up_joinus"></i>
        <label for="username" class="up_joinus">Adresse mail</label>
      </div>

      <div class="txt_field_auth">
        <input id="password" type="password" name="password" required />
        <span></span>
        <i class="uil uil-lock up_joinus"></i>
        <label for="password" class="up_joinus">Mot de passe</label>
      </div>
      <a href="/auth/resetpassword" class="pass_auth">Mot de passe oublié ?</a>
      <input type="submit" value="Se connecter" />

      <a href="/auth/google" class="google"
        ><ion-icon name="logo-google"></ion-icon>Se connecter avec Google
      </a>

      <div class="link_auth">
        Pas encore membre ?
        <a title="Créer un compte" href="/auth/signup">Créer un compte</a> ou
        <a title="Menu" href="/">Menu</a>
      </div>
    </form>
  </div>
</section>

<%- include("./partials/footer") %>
