<!-- /////////////////////////////////////////////// -->
<!-- new password -->

<section loading="lazy" class="back_image_auth back_image_signup">
  <div class="filter_auth filter_signup"></div>
  <div class="center_auth center_signup">
    <h2>Réinitialisation</h2>
    <% if(token) { %>
    <form action="/auth/newpassword?token=<%= token %>" method="POST">
      <%- include("partials/message") %>

      <div class="txt_field_auth">
        <input id="passwordUser" type="password" name="passwordUser" required />
        <span></span>
        <i class="uil uil-lock up_joinus"></i>
        <label for="passwordUser" class="up_joinus">Mot de passe</label>
      </div>

      <div class="txt_field_auth">
        <input
          id="confirmPasswordUser"
          type="password"
          name="confirmPasswordUser"
          required
        />
        <span></span>
        <i class="uil uil-lock up_joinus"></i>
        <label for="confirmPasswordUser" class="up_joinus"
          >Confirmation mot de passe</label
        >
      </div>

      <input type="submit" value="Envoyer" />
      <div class="link_auth">
        Vous vous rappelez votre mot de passe ? <br />
        <a title="Se connecter" href="/auth/login">Se connecter</a> or
        <a title="Menu" href="/">Menu</a>
      </div>
    </form>
    <% } %>
  </div>
</section>

<%- include("./partials/footer") %>
