<!-- /////////////////////////////////////////////// -->
<!-- new class -->

<section loading="lazy" class="back_image_auth back_image_newclass">
  <div class="filter_auth filter_newclass"></div>
  <div class="center_auth center_newclass">
    <h2>New Class</h2>
    <form action="#" method="post" enctype="multipart/form-data">
      <div class="txt_field_auth">
        <input id="classname" type="text" name="classname" required />
        <span></span>
        <i class="uil uil-book-alt up_joinus"></i>
        <label for="classname" class="up_joinus">Classname</label>
      </div>
      <div class="txt_field_auth">
        <input id="date" type="text" name="date" required />
        <span></span>
        <i class="uil uil-calender up_joinus"></i>
        <label for="date" class="up_joinus">Date</label>
      </div>
      <div class="txt_field_auth">
        <input id="address" type="text" name="address" required />
        <span></span>
        <i class="uil uil-map-marker up_joinus"></i>
        <label for="address" class="up_joinus">Address</label>
      </div>
      <div class="txt_field_auth">
        <input id="category" type="text" name="category" required />
        <span></span>
        <i class="uil uil-folder up_joinus"></i>
        <label for="category" class="up_joinus">Category</label>
      </div>
      <div class="ingredient_list">
        <div class="txt_field_auth ingredient_div">
          <input id="ingredient" type="text" name="ingredient" required />
          <span></span>
          <i class="up_joinus">
            <iconify-icon icon="lucide:wheat"></iconify-icon>
          </i>
          <label for="ingredient" class="up_joinus"
            >Ingredient <span style="color: #72b955">0</span></label
          >
        </div>
      </div>

      <div class="ctn_plus_btn">
        <button type="button" class="add_ingredients_btn plus_btn a_NBorder">
          + Ingredient
        </button>
      </div>

      <div class="txt_field_auth">
        <textarea name="description" id="description" required></textarea>
        <span></span>
        <i class="uil uil-file-alt up_joinus"></i>
        <label for="description" class="up_joinus">Description</label>
      </div>
      <div class="txt_field_auth imgClass_div">
        <input
          id="image_newClass"
          type="file"
          name="image_newClass"
          accept="image/*"
          max="2"
          multiple
          required
        />
        <span></span>
        <label for="image_newClass" class="upload_joinus a_NBorder"
          ><i class="uil uil-image"></i>+ Image</label
        >
      </div>
      <div class="img_list"></div>

      <input type="submit" value="Submit" />
      <div class="link_auth">
        Back to <a href="#">Jasmin Dupre</a>'s profile or <a href="#">Home</a>
      </div>
    </form>
  </div>
</section>
