<!-- /////////////////////////////////////////////// -->
<!--  title reset password-->
<section class="section_title">
  <h2 class="title central">
    <i class="uil uil-user-circle icon_title"></i> Réinitialisation du mot de
    passe
  </h2>
</section>

<section class="section_delete">
  <h2 class="warning_delete">Attention :</h2>
  <div class="content_delete">
    Si vous clôturez votre compte vous allez perdre tous les cours que vous avez
    sauvegardés et créés.
  </div>

  <form
    action="/<%= authUser.roleUser %>/delete/<%= authUser._id %>?_method=DELETE"
    method="POST"
  >
    <input type="submit" value="Fermer" class="btn_delete" />
  </form>
</section>
