<!-- /////////////////////////////////////////////// -->
<!-- student delete title-->
<section class="ctn_title">
  <h2 class="title central">
    <i class="uil uil-graduation-cap icon_title"></i> Search resutls for :
  </h2>
</section>
