<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Confirmation d’adresse mail</title>

    <style>
      body {
        font-family: "Poppins", sans-serif;
        font-size: 13.5px;
        line-height: 1.6;
        color: #222222;
        background-color: #fff;

        margin: 0;
        padding: 0;
      }

      a {
        text-decoration: none;
      }

      #container {
        max-width: 600px;
        margin: auto;
        background-color: #dedede;
        padding: 20px;
        border: 1px solid #b3b3b3;
        border-radius: 5px;
      }
      h1 {
        font-size: 32px;
        margin-top: 0;
        color: #222222;
        text-align: center;
      }

      p {
        margin: 0 0 20px;
        text-align: justify;
      }

      .course {
        background-color: #fff;

        padding: 20px;
        border-radius: 5px;
        margin: 20px auto;
      }

      .ctn_logo_registerOneCourse {
        width: 93.5%;
        display: flex;
      }

      .user_registerOneCourse {
        width: 80%;
      }

      .title_user_registerOneCourse {
        display: flex;
        align-items: center;
      }

      .logo_registerOneCourse {
        width: 20%;
      }

      .course h2 {
        font-size: 22px;
        color: #222222;
        margin: 0 0 0 8px;

        display: flex;
        align-items: center;
      }

      .course p {
        margin-bottom: 10px;
      }

      .course ul li {
        margin-bottom: 5px;
      }

      p.copyRight_conclu {
        text-align: center;
        color: var(--C-F3F3F3);
        font-size: 0.65rem;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <div class="logo_title">
        <h1>Confirmation d’adresse mail !</h1>
      </div>

      <div class="course ctn_logo_registerOneCourse">
        <div class="user_registerOneCourse">
          <div class="title_user_registerOneCourse">
            <a
              data-flickr-embed="true"
              href="https://www.flickr.com/photos/198144307@N02/52834297877/in/dateposted-public/"
              title="Screenshot 2023-04-21 at 19-15-28 Unicons icon library Line Monochrome Solid Thin Line(1)"
              ><img
                src="https://live.staticflickr.com/65535/52834297877_1af2c9d712_t.jpg"
                width="45"
                height="45"
                alt="Screenshot 2023-04-21 at 19-15-28 Unicons icon library Line Monochrome Solid Thin Line(1)"
            /></a>
            <h2><%= user.firstnameUser %> <%= user.lastnameUser %></h2>
          </div>

          <ul>
            <li>
              <strong>Confirmation d’adresse mail : </strong><%=
              process.env.API_URL%>/auth/confirmedemail/?token=<%= token %>
            </li>
          </ul>
        </div>
        <div class="logo_registerOneCourse">
          <a data-flickr-embed="true" href="" title="logo_footer"
            ><img
              src="https://live.staticflickr.com/65535/52833961800_d6324ebf89_w.jpg"
              width="65"
              height="75"
              alt="logo_footer"
          /></a>
        </div>
      </div>

      <p>
        Merci d’avoir rejoins Paîndemy ! Veuillez cliquer sur le lien ci-dessus
        pour confirmer votre adresse mail.
      </p>

      <div class="course">
        <div class="title_user_registerOneCourse">
          <a
            data-flickr-embed="true"
            href="https://www.flickr.com/photos/198144307@N02/52834642401/in/dateposted-public/"
            title="Screenshot 2023-04-21 at 17-33-02 Unicons icon library Line Monochrome Solid Thin Line(1)"
            ><img
              src="https://live.staticflickr.com/65535/52834642401_0e405bfa14_t.jpg"
              width="45"
              height="45"
              alt="Screenshot 2023-04-21 at 17-33-02 Unicons icon library Line Monochrome Solid Thin Line(1)"
          /></a>

          <h2>Contact</h2>
        </div>
        <ul>
          <li>
            <strong>Adresse : </strong>8 avenue de Carthage, 13100 Aix
            en-provence
          </li>
          <li><strong>Numéro : </strong> +33 07 67 25 86 03</li>
          <li><strong>Adresse mail : </strong>billingran@gmail.com</li>
        </ul>
      </div>

      <p>
        Paîndemy est une plateforme qui offre une variété de cours en ligne.
        Nous sommes engagés afin de dispenser des ressources d’enseignement de
        haute qualité, afin que chaque étudiant puisse avoir une expérience
        d’apprentissage efficace. Si vous avez des questions ou des suggestions,
        n’hésitez pas à nous contacter.
      </p>

      <p>Nous vous souhaitons une excellente expérience d’apprentissage !</p>

      <p><a href="">L’équipe Paîndemy.</a></p>

      <p class="copyRight_conclu">
        Copyright © 2023 Paîndemy. Tous droits réservés.
      </p>
    </div>

    <!-- logo -->
    <script
      async
      src="//embedr.flickr.com/assets/client-code.js"
      charset="utf-8"
    ></script>
    <!-- user student -->
    <script
      async
      src="//embedr.flickr.com/assets/client-code.js"
      charset="utf-8"
    ></script>
    <!-- course -->
    <script
      async
      src="//embedr.flickr.com/assets/client-code.js"
      charset="utf-8"
    ></script>
    <!-- contact -->
    <script
      async
      src="//embedr.flickr.com/assets/client-code.js"
      charset="utf-8"
    ></script>
  </body>
</html>
