/*auth */
/* transition */
.txt_field_auth i,
.txt_field_auth label,
.txt_field_auth span::before,
input[type="submit"]:hover,
a[class="google"]:hover,
.link_auth a,
.pass_auth {
  transition: all 0.3s;
}

/* background auth */

.back_image_auth {
  background-size: cover;
  background-position: center;

  min-height: 100vh;
  width: 100%;

  padding: 0 7rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  position: relative;
  z-index: 0;
}

.filter_auth {
  background-color: var(--C-222222);
  opacity: 0.65;

  width: 100%;
  min-height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* form */
/* font weight */
.center_auth h2,
.center_auth form,
.txt_field_auth input,
input[type="submit"] {
  font-weight: 600;
}

.center_auth {
  width: 32rem;

  /* border: 3px orange solid; */
}

.center_auth h2 {
  color: var(--C-F3F3F3);
  text-align: center;
  font-size: 3rem;

  padding: 0 0 1rem 0;
}

.center_auth form {
  padding: 0 2.5rem;
}

form .txt_field_auth {
  border-bottom: 2px solid var(--C-B3B3B3);

  margin: 2.5rem 0;

  position: relative;

  display: flex;
  align-items: center;
}

.txt_field_auth input {
  /* border: red solid 2px; */
  color: var(--C-B3B3B3);
  font-size: 1.3rem;
  background: none;

  outline: none;
  border: none;
  padding: 0 5px;

  width: 100%;
  height: 45px;
}

.txt_field_auth i,
.txt_field_auth label {
  color: var(--C-B3B3B3);
  font-size: 1rem;
  pointer-events: none;

  position: absolute;
  top: 50%;
  left: 38px;
  transform: translateY(-50%);
}

.txt_field_auth i {
  font-size: 2.2rem;

  left: 0px;
}

.txt_field_auth span::before {
  content: "";
  background: var(--C-FF0066);

  width: 0%;
  height: 2px;

  position: absolute;
  top: 45px;
  left: 0;
}

/* animation input */
.txt_field_auth input:focus ~ i,
.txt_field_auth input:valid ~ i,
.txt_field_auth input:focus ~ label,
.txt_field_auth input:valid ~ label {
  top: -0.5rem;
  color: var(--C-FF0066);
}

.txt_field_auth input:focus ~ span::before,
.txt_field_auth input:valid ~ span::before {
  width: 100%;
}

/* form button and google a tag*/
input[type="submit"],
a[class="google"] {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  border: 1px solid var(--C-B3B3B3);
  background: var(--C-6E1D0E);
  color: var(--C-F7F8EE);
  cursor: pointer;
  text-align: center;

  border-radius: 25px;
  outline: none;

  width: 100%;

  padding: 14px 0;
}

a[class="google"] {
  margin: 35px 0 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

a[class="google"] ion-icon {
  font-size: 1.2rem;
  margin: 0 0.5rem 0 0;
}

/* hover for form button and google a tag */
input[type="submit"]:hover,
a[class="google"]:hover {
  border-color: var(--C-6E1D0E);
  color: var(--C-FF0066);
}

/* link auth */
.link_auth {
  margin: 35px 0;
  text-align: center;
  font-size: 16px;
  color: var(--C-B3B3B3);
}

.link_auth a {
  color: var(--C-4683C1);
  text-decoration: none;
  transition: all 0.3s;
}

/* /////////////////////////////////////////////// */

/* sign up */
/* background image */
.back_signup_login {
  background-image: url("/images/image_main_auth.jpg");
}

/* /////////////////////////////////////////////// */

/* login */
/* forget password */
.pass_auth {
  margin: -5px 0 35px 5px;
  color: var(--C-B3B3B3);
  cursor: pointer;
}

/* hover for forgetpassword and link auth */
.pass_auth:hover,
.link_auth a:hover {
  text-decoration: underline;
  color: var(--C-FF0066);
}
/* /////////////////////////////////////////////// */

/* join us */
/* background image */
.back_image_joinus {
  background-image: url("/images/image_main_join_us.jpg");
}

.ctn_image_joinus {
  /* border: 1px red solid; */
  overflow: hidden;

  position: relative;

  align-self: flex-end;
}

.ctn_image_joinus img {
  /* border: 2px solid green; */
  width: 26rem;
  height: 95vh;

  transform: translateX(-27rem);
  animation: animateJoinus 5s forwards 2s;
}

@keyframes animateJoinus {
  to {
    transform: translateX(0);
  }
}

/* /////////////////////////////////////////////// */

/* responive */
/* sign up and login */
@media screen and (max-width: 500px) {
  .center_auth {
    width: 100%;
  }

  .center_auth form {
    padding: 0 0.85rem;
  }
}

/* join us */
@media screen and (max-width: 1160px) {
  .back_image_auth {
    min-height: 80vh;
    padding: 0;
  }

  .ctn_image_joinus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -2;
  }

  .ctn_image_joinus img {
    width: 20rem;
    height: 80%;
  }
}
