/* /////////////////////////////////////////////// */
/* auth */

/* background auth */
.back_image_auth {
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  position: relative;
  z-index: 0;
}

.filter_auth {
  background-color: var(--C-222222);
  opacity: 0.65;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* form */

.center_auth h2 {
  color: var(--C-F3F3F3);
  text-align: center;
  font-size: 3rem;
  font-weight: 600;

  padding: 1.5rem 0 0 0;
}

.center_auth form {
  font-weight: 600;

  padding: 0 2.5rem;
}

form .txt_field_auth {
  border-bottom: 2px solid var(--C-B3B3B3);

  margin: 2.8rem 0;

  position: relative;

  display: flex;
  align-items: center;

  transition: all 0.3s;
}

.txt_field_auth input {
  color: var(--C-B3B3B3);
  font-size: 1.3rem;
  background: none;
  font-weight: 600;

  outline: none;
  border: none;
  padding: 0 5px;

  min-width: 100%;
  height: 39px;
}

.txt_field_auth i,
.txt_field_auth label {
  color: var(--C-B3B3B3);
  font-size: 1rem;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.txt_field_auth label {
  left: 38px;

  transition: all 0.3s;
}

.txt_field_auth i {
  font-size: 2.2rem;

  left: 0;

  transition: all 0.3s;
}

.txt_field_auth span::before {
  content: "";
  background: var(--C-FF0066);

  width: 0%;
  height: 2px;

  position: absolute;
  top: 100%;
  left: 0;

  transition: all 0.3s;
}

/* animation input */
.txt_field_auth input:focus ~ i.up_joinus,
.txt_field_auth input:valid ~ i.up_joinus,
.txt_field_auth input:focus ~ label.up_joinus,
.txt_field_auth input:valid ~ label.up_joinus {
  top: -1rem;
  color: var(--C-FF0066);
}

.txt_field_auth input:focus ~ span::before,
.txt_field_auth input:valid ~ span::before,
.txt_field_auth textarea:focus ~ span::before,
.txt_field_auth textarea:valid ~ span::before {
  width: 100%;
}

/* form button and google a tag*/
input[type="submit"] {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  border: 1px solid var(--C-B3B3B3);
  background: var(--C-6E1D0E);
  color: var(--C-F7F8EE);
  cursor: pointer;
  text-align: center;
  font-weight: 600;

  border-radius: 25px;
  outline: none;

  width: 100%;

  padding: 14px 0;
}

/* hover for form button and google a tag */
input[type="submit"]:hover {
  border-color: var(--C-6E1D0E);
  color: var(--C-FF0066);

  transition: all 0.3s;
}

/* link auth */
.link_auth {
  margin: 1rem 0;
  text-align: center;
  font-size: 16px;
  color: var(--C-B3B3B3);
}

.link_auth a {
  color: var(--C-4683C1);
  text-decoration: none;

  transition: all 0.3s;
}

.link_auth a:hover {
  text-decoration: underline;
  color: var(--C-FF0066);
}
