.section_carousel {
  width: 80%;
}

.ctn_carousels {
  border-radius: 0.55rem;
  box-shadow: 0 3px 10px rgb(34 34 34 / 0.5);
}

.carousels {
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 65vh;

  position: relative;

  z-index: 0;
}

/* /////////////////////////////////////////////// */
/* responive */

@media screen and (max-width: 1300px) {
  /* /////////////////////////////////////////////// */
  /* carousel */

  .section_carousel {
    width: 94%;
  }
}
