/* /////////////////////////////////////////////// */
/* carousel */

.section_carousels {
  width: 80%;

  margin: 1.5rem auto;
}

.ctn_mid_carousels {
  border-radius: 0.55rem;
  box-shadow: 0 3px 10px rgb(34 34 34 / 0.5);
}

.ctn_carousels {
  overflow: hidden;
}

.carousels {
  /* border: orange 3px solid; */
  text-align: center;
  overflow: hidden;
  width: 100%;
  min-height: 65vh;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.icon_carousels {
  margin: 0 0 0 0.2rem;
}

/* /////////////////////////////////////////////// */
/* responive */

@media screen and (max-width: 1300px) {
  /* /////////////////////////////////////////////// */
  /* carousel */

  .section_carousel {
    width: 91%;
  }
}

@media screen and (max-width: 1100px) {
  /* /////////////////////////////////////////////// */
  /* carousel */
}
