/* /////////////////////////////////////////////// */
/* carousel */

.left_courses {
  border: 3px red solid;

  width: 55%;
  height: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.carousels .left_courses h2 {
  color: var(--C-F3F3F3);
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 6rem;

  width: 38rem;
}

.carousels .left_courses a {
  width: 38rem;
  font-weight: 500;
  color: var(--C-F3F3F3);
  cursor: pointer;

  justify-content: flex-end;

  transition: all 0.3s;
}

/* hover */
.carousels .left_courses a:hover {
  color: var(--C-FF0066);
}

.carousels .right_courses {
  border: 3px blue solid;
  overflow: hidden;

  width: 45%;
  height: 100%;

  position: relative;
}

.carousels .right_courses .ctn_mainImg_courses {
  /* border: 2px solid green; */
  overflow: hidden;
  box-shadow: 0 3px 10px rgb(34 34 34 / 0.5);
  border-radius: 0.55rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousels .right_courses img {
  width: 18rem;
  height: 17.3rem;

  border-radius: 0.55rem;
}
