/* footer */
.footer {
  background: var(--C-222222);
  min-height: 20vh;

  padding: 1rem 1rem 0.5rem 1rem;
}

/* content footer */
.ctn_footer {
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* general footer */
.box_footer {
  color: var(--C-F3F3F3);
  font-weight: 500;
  width: 15rem;
  margin: 2rem 1.5rem 1.5rem 1.5rem;
  /* border: 1px solid black; */
}

.line_mid {
  background: var(--C-6E1D0E);
  height: 0.18rem;
  width: 3.5rem;
  margin: 0.1rem 0 0.85rem 0;
}

.font_color {
  color: var(--C-6C757D);

  transition: all 0.3s;
}

/* logo footer image */
.logo_footer {
  width: 18rem;
  height: 21rem;
}

/* about us  */
.font_about {
  font-size: 0.85rem;
  text-align: justify;
  color: var(--C-6C757D);
}

/*follow us */
.icon_style {
  font-size: 2.2rem;
  width: 12rem;
  justify-content: space-between;
}

.pad {
  padding-top: 0.6rem;
  margin: 0 0.25rem 0 0.25rem;
}

/* quick links & contact us */
.margin_mid {
  margin: 1.4rem 0 1.4rem 0;
}

.icon_font {
  font-size: 2rem;

  margin: 0 0.5rem 0 0;

  transition: all 0.3s;
}

/* hover color */
footer div a:hover .font_color,
footer div ul li:hover div .font_color,
footer div ul li:hover div .icon_font {
  color: var(--C-FF0066);
}

/* /////////////////////////////////////////////// */

/* copy right footer */
.ctn_copyRight {
  text-align: center;
  color: var(--C-F3F3F3);
  font-size: 0.65rem;
}
