/* /////////////////////////////////////////////// */
/* header */

.header {
  position: sticky;
  top: 0;
  z-index: 1;

  transition: all 0.3s;
}

.ctn_header {
  border-bottom: 2px solid var(--C-B3B3B3);

  margin: 0 auto 1.5rem;

  width: 91%;
  min-height: 4.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* title header/////////////////////////////////////////// */
.title_header {
  width: 15rem;
  height: 4rem;
  /* color: var(--C-222222); */
}

.midText_titme_homeOne {
  fill: var(--C-FF0066);
  transition: all 0.3s;
}

/* menu toggle/////////////////////////////////////////// */
.ctn_burger {
  cursor: pointer;

  margin: 0 0 0 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  /* border: 1px solid black; */

  width: 2rem;
  height: 2rem;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s;
  /* opacity: 0;
    visibility: hidden; */
}

.burger::before {
  content: "";
  background: var(--C-6E1D0E);

  border-radius: 5rem;

  width: 2rem;
  height: 5px;

  position: absolute;

  transform: translateY(-10px);
  transition: 0.25s;
}

.ctn_burger.active .burger::before {
  transform: translate(0px) rotate(45deg);
}

.ctn_burger .burger::after {
  content: "";
  background: var(--C-6E1D0E);

  box-shadow: 0 -9.5px 0 var(--C-6E1D0E);
  border-radius: 5rem;

  width: 2rem;
  height: 5px;

  position: absolute;

  transform: translateY(10px);
  transition: 0.25s;
}

.ctn_burger.active .burger::after {
  transform: translate(0px) rotate(-45deg);
  box-shadow: 0 0 0 var(--C-6E1D0E);
}

/* hover */
.ctn_burger:hover .burger::before {
  background: var(--C-FF0066);
}

.ctn_burger:hover .burger::after {
  background: var(--C-FF0066);
  box-shadow: 0 -9.5px 0 var(--C-FF0066);
}

.ctn_burger.active:hover .burger::after {
  transform: translate(0px) rotate(-45deg);
  box-shadow: 0 0 0 var(--C-FF0066);
}

/* input_header/////////////////////////////////////////// */
.form_homeOne,
.form_homeOne_sideBar {
  border-radius: 5rem;

  padding: 0 0.5rem;

  width: 23rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  position: relative;

  transition: all 0.3s;
}

.icon_search_homeOne,
.input_homeOne,
label[for="search_homeOne"],
label[for="search_homeOne_sideBar"] {
  color: var(--C-565E64);
  font-weight: 600;
  cursor: pointer;

  transition: all 0.3s;
}

.icon_search_homeOne {
  font-size: 1.7rem;
}

.input_homeOne {
  font-family: "Rubik", sans-serif;
  background: none;
  font-size: 1.2rem;

  outline: none;
  border: none;

  width: 90%;
}

label[for="search_homeOne"],
label[for="search_homeOne_sideBar"] {
  border-radius: 5rem;
  border: 1.8px solid var(--C-6E1D0E);
  cursor: pointer;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

/* focus input */
.form_homeOne input.input_homeOne:focus ~ label[for="search_homeOne"],
.form_homeOne_sideBar
  input.input_homeOne:focus
  ~ label[for="search_homeOne_sideBar"] {
  border: 1.8px solid var(--C-FF0066);
}

.form_homeOne input.input_homeOne:focus,
.form_homeOne_sideBar input.input_homeOne:focus {
  color: var(--C-FF0066);
}

/* /////////////////////////////////////////////// */
/* side bar header */

.side_bar_header {
  background: var(--C-222222);
  overflow: auto;
  scrollbar-width: thin;

  padding: 0.45rem 0.5rem;

  width: 17rem;
  height: 100vh;

  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1;

  transition: all 0.4s;
}

/* show side bar header */
.show_side_bar {
  right: 0;
}

.ul_sideBar_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ul_sideBar_header li {
  margin: 0.8rem 0;
}

/* burger side bar/////////////////////////////////////////// */
.ul_sideBar_header li:nth-child(1) {
  align-self: flex-start;
}

/* input side bar/////////////////////////////////////////// */
.form_homeOne_sideBar {
  display: none;
  visibility: hidden;
  width: 100%;
}

/* img side bar/////////////////////////////////////////// */
.ul_sideBar_header img {
  width: 6rem;
  height: 7rem;
}

/* font style side bar/////////////////////////////////////////// */
.ul_sideBar_header li a {
  color: var(--C-6C757D);
  font-weight: 600;

  transition: all 0.3s;
}

.icon_sideBar_header {
  font-size: 2rem;
  margin: 0 0.25rem 0 0;
}

/* hover */
.ul_sideBar_header li a:hover {
  color: var(--C-FF0066);
}

/* /////////////////////////////////////////////// */
/* responive */

@media screen and (max-width: 750px) {
  .form_homeOne {
    display: none;
    visibility: hidden;
  }

  .form_homeOne_sideBar {
    display: flex;
    visibility: visible;
  }
}
