/* /////////////////////////////////////////////// */
/* Home One */

/* background */
.size_background_homeOne {
  min-height: 90vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.back_image_homeOne {
  background-image: url("/images/image_main_homeOne.jpg");
  background-size: cover;
  background-position: center;

  position: relative;
  z-index: 0;
  flex-direction: column;
  text-align: center;
}

.filter_homeOne {
  background-color: var(--C-222222);
  opacity: 0.65;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* title */
.title_homeOne {
  font-size: 3.6rem;
  color: var(--C-F3F3F3);
}

/* buttons */
.ctn_btns {
  margin: 1rem;
}

/* /////////////////////////////////////////////// */
/* Home Two */

/* category */
.ctn_categories {
  margin: 0 auto 7rem;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mid_category {
  margin: 0.8rem;
}

.size_image_category,
.image_category {
  box-shadow: 0 3px 10px rgb(34 34 34 / 0.5);
  overflow: hidden;
  border-radius: 0.55rem;

  width: 20.5rem;
  height: 8rem;
}

.size_image_category:hover {
  box-shadow: 0 3px 10px rgb(255 0 102 / 0.5);
}

.image_category {
  font-size: 1.5rem;
  color: var(--C-F3F3F3);
  background-size: cover;
  background-position: center;
  border-radius: 0.55rem 0.55rem 0 0;

  position: relative;

  transition: all 0.3s;
}

.image_category:hover {
  color: var(--C-FF0066);

  transform: scale(1.2);
}

.title_category {
  font-weight: 600;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* /////////////////////////////////////////////// */
/* Home Three */

/* section */
.section_homeThree {
  width: 75%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  position: relative;
}

/* image and background */
.ctn_svg {
  position: relative;
}

.ctn_image_homeThree {
  position: absolute;
  top: 32px;
  left: 45px;
}

.image_homeThree {
  width: 339px;
  height: 512px;
}

.ctn_instructorSvg {
  width: 500px;
  height: 500px;
}

.trans_origin {
  transform-origin: center;
}

.ani_ctn_instructorSvg {
  animation: myanimate 12s infinite linear;
}

.anir_ctn_instructorSvg {
  animation: myanimate 12s infinite linear reverse;
}

@keyframes myanimate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* title, text and btns */
.ctn_text {
  margin: 6rem auto;

  width: 400px;
}

.title_homeThree {
  font-size: 2.5rem;
  color: var(--C-222222);
}

.text_homeThree {
  color: var(--C-565E64);
  text-align: justify;
  font-size: 1.1rem;

  margin: 1rem 0rem;
}

.ul_flexStart_btns {
  justify-content: flex-start;
}

/* /////////////////////////////////////////////// */

/* responive */
@media screen and (max-width: 830px) {
  /* /////////////////////////////////////////////// */
  /* home one */
  .size_background_homeOne {
    min-height: 50vh;
  }

  .title_homeOne {
    font-size: 6.8vw;
  }

  /* /////////////////////////////////////////////// */
  /* home three */
  .section_homeThree {
    width: 100%;
  }

  /* text */
  .ctn_text {
    width: 80%;
  }
}

@media screen and (max-width: 530px) {
  /* /////////////////////////////////////////////// */
  /* home Two */

  /* category */
  .size_image_category,
  .image_category {
    width: 300px;
  }

  /* /////////////////////////////////////////////// */
  /* home three */
  /* image */
  .ctn_image_homeThree {
    top: -11px;
    left: 16px;
  }

  .image_homeThree {
    width: 265px;
    height: 445px;
  }

  .ctn_instructorSvg {
    width: 345px;
    height: 345px;
  }

  /* text */
  .title_homeThree {
    font-size: 2rem;
  }
}
