/* /////////////////////////////////////////////// */
/* carousel */

.filter_instructors {
  background-color: var(--C-222222);
  opacity: 0;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.left_instructors {
  border: 3px red solid;

  width: 38rem;
  height: 35vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}

.carousels h2 {
  color: var(--C-F3F3F3);
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 6rem;
}

.carousels a {
  font-weight: 500;
  color: var(--C-F3F3F3);
  cursor: pointer;

  align-self: flex-end;

  transition: all 0.3s;
}

.carousels a:hover {
  color: var(--C-FF0066);
}

.icon_author_instructors {
  margin: 0 0 0 0.2rem;
}

.right_instructors {
  border: 3px blue solid;

  height: 135%;

  position: absolute;
  top: 49%;
  left: 79%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* /////////////////////////////////////////////// */
/* display.css */

/* /////////////////////////////////////////////// */
/* image instructors */

.ctn_images_instructors {
  /* border: 2px solid orange; */

  margin: 0 auto 7rem;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ctn_image_instructor,
.image_instructor {
  box-shadow: 0 3px 10px rgb(34 34 34 / 0.5);
  overflow: hidden;
  border-radius: 0.55rem;
  font-size: 1.5rem;
  color: var(--C-F3F3F3);

  width: 16.2rem;
  height: 22rem;

  position: relative;

  transition: all 0.3s;
}

/* hover */
.ctn_image_instructor:hover {
  box-shadow: 0 3px 10px rgb(255 0 102 / 0.5);
}

.image_instructor {
  background-size: cover;
  background-position: center;
  border-radius: 0.55rem 0.55rem 0 0;

  z-index: -1;
}

/* hover */
.ctn_image_instructor:hover .image_instructor {
  transform: scale(1.2);
}

.title_instructor {
  font-weight: 600;
  opacity: 1;
  /* border: 2px solid orange; */
  text-align: left;

  padding: 0 0 0 0.5rem;

  width: 100%;

  position: absolute;
  top: 85%;
  left: -100%;

  transition: all 0.3s;
}

/* hover */
.ctn_image_instructor:hover .title_instructor {
  animation: animatetitle_instructor 0.4s forwards 0.3s;

  left: 0;
}

@keyframes animatetitle_instructor {
  to {
    color: var(--C-FF0066);
  }
}

/* /////////////////////////////////////////////// */
/* responive */

@media screen and (max-width: 1100px) {
  /* /////////////////////////////////////////////// */
  /* carousel */

  .filter_instructors {
    background-color: var(--C-222222);
    opacity: 0.3;

    z-index: 0;
  }

  .left_instructors {
    height: 25vh;

    justify-content: space-around;

    left: 50%;
    transform: translate(-50%, -50%);
  }

  .carousels a {
    align-self: center;
  }

  .right_instructors {
    top: 50%;
    left: 50%;
  }
}

@media screen and (max-width: 600px) {
  /* /////////////////////////////////////////////// */
  /* image instructors */

  .title_instructor {
    left: 0%;
    color: var(--C-FF0066);
  }

  /* /////////////////////////////////////////////// */
  /* carousel */

  .left_instructors {
    width: 100%;
    height: 36vh;

    padding: 0 0.5rem;

    justify-content: center;
  }

  .carousels h2 {
    font-size: 1.35rem;
    line-height: 3.5rem;
  }
}
