/* /////////////////////////////////////////////// */
/* instructor */

.ctn_image_instructor,
.image_instructor {
  width: 21rem;
  height: 65vh;
}

.ctn_image_instructor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* hover */
.image_instructor:hover {
  transform: scale(1.2);
}
