/* /////////////////////////////////////////////// */
/* instructors */

.filter_instructors {
  background-color: var(--C-222222);
  opacity: 0;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.left_instructors {
  /* border: 3px red solid; */

  width: 55%;
  height: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.carousels .left_instructors h2 {
  color: var(--C-F3F3F3);
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 6rem;

  width: 38rem;
}

.carousels .left_instructors a {
  width: 38rem;
  font-weight: 500;
  color: var(--C-F3F3F3);
  cursor: pointer;

  justify-content: flex-end;

  transition: all 0.3s;
}

/* hover */
.carousels .left_instructors a:hover {
  color: var(--C-FF0066);
}

.carousels .right_instructors {
  /* border: 3px blue solid; */

  width: 45%;
  height: 65vh;

  position: relative;
}

.carousels .right_instructors img {
  height: 135%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* /////////////////////////////////////////////// */
/* include display.css */

/* /////////////////////////////////////////////// */
/* image instructors */

.ctn_images_instructors {
  /* border: 2px solid orange; */

  margin: 0 auto 7rem;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ctn_image_instructors,
.image_instructors {
  font-size: 1.5rem;
  color: var(--C-F3F3F3);

  width: 16.2rem;
  height: 22rem;

  position: relative;
}

.image_instructors {
  z-index: -1;
}

/* hover */
.ctn_image_instructors:hover .image_instructors {
  transform: scale(1.2);
}

.title_instructors {
  font-weight: 600;
  opacity: 1;
  /* border: 2px solid orange; */
  text-align: left;

  padding: 0 0 0 0.5rem;

  width: 100%;

  position: absolute;
  top: 85%;
  left: -100%;

  transition: all 0.3s;
}

/* hover */
.ctn_image_instructors:hover .title_instructors {
  animation: animatetitle_instructors 0.4s forwards 0.3s;

  left: 0;
}

@keyframes animatetitle_instructors {
  to {
    color: var(--C-FF0066);
  }
}

/* /////////////////////////////////////////////// */
/* responive */

@media screen and (max-width: 1100px) {
  /* /////////////////////////////////////////////// */
  /* carousel */

  .carousels .left_instructors {
    width: 100%;

    z-index: 2;
  }

  .carousels .right_instructors {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 0;
  }

  .filter_instructors {
    opacity: 0.3;

    z-index: 1;
  }
}

@media screen and (max-width: 710px) {
  /* /////////////////////////////////////////////// */
  /* image instructors */

  .title_instructors {
    left: 0%;
    color: var(--C-FF0066);
  }

  /* /////////////////////////////////////////////// */
  /* carousel */

  .left_instructors {
    justify-content: center;

    padding: 0 0.3rem;
  }

  .carousels .left_instructors h2 {
    font-size: 1.2rem;
    line-height: 3rem;
    text-align: center;
    width: 100%;
  }

  .carousels .left_instructors a {
    width: 100%;

    justify-content: center;
  }

  .carousels .right_instructors img {
    height: 120%;
  }
}
