/* /////////////////////////////////////////////// */
/* join us */

/* background image */
.back_image_joinus {
  background-image: url("/images/image_main_join_us.jpg");

  min-height: 100vh;
  width: 100%;
}

.filter_joinus {
  min-height: 100%;
  width: 100%;
}

.center_joinus {
  width: 38rem;
}

.center_joinus h2 {
  padding: 2.5rem 0 0 0;
}

.ctn_image_joinus {
  overflow: hidden;

  position: relative;

  align-self: flex-end;
}

.ctn_image_joinus img {
  width: 26rem;
  height: 95vh;

  transform: translateX(-27rem);
  animation: animateJoinus 5s forwards 1.5s;
}

@keyframes animateJoinus {
  to {
    transform: translateX(0);
  }
}

/* input */
.center_joinus form div:nth-child(1) .txt_field_auth,
.center_joinus form div:nth-child(2) .txt_field_auth {
  margin: 2.8rem 0 0;
  width: 50%;
}

/* textarea */
.txt_field_auth textarea {
  color: var(--C-B3B3B3);
  font-size: 1.3rem;
  background: none;
  font-weight: 600;

  outline: none;
  border: none;
  padding: 0 5px;

  min-width: 100%;
  height: 39px;
  min-height: 39px;
  max-height: 10rem;
}

/* focus and valid textarea */
.txt_field_auth textarea:focus ~ i.up_joinus,
.txt_field_auth textarea:valid ~ i.up_joinus,
.txt_field_auth textarea:focus ~ label.up_joinus,
.txt_field_auth textarea:valid ~ label.up_joinus {
  top: -1rem;
  color: var(--C-FF0066);
}

/* image upload */
input[type="file"] {
  opacity: 0;
  font-size: 1.3rem;
}

.txt_field_auth .upload_joinus {
  text-align: center;
  background-color: rgba(220, 164, 125, 0.7);

  width: 100%;

  position: absolute;
  left: 0;

  transform: translateY(-56%);
}

/* focus and valid textarea image upload*/
.txt_field_auth input:focus ~ label i,
.txt_field_auth input:valid ~ label i,
.txt_field_auth input:focus ~ label,
.txt_field_auth input:valid ~ label {
  color: var(--C-FF0066);
}

/* show img uploaded */
.img_list {
  overflow: auto;
  scrollbar-width: thin;

  margin: 1rem 0;

  max-height: 10rem;
}

.img_minus_btn {
  font-size: 2.2rem;
  color: var(--C-F3F3F3);

  margin: 0 0.5rem 0 0;

  transition: all 0.3s;
}

.img_minus {
  font-size: 1rem;
  color: var(--C-F3F3F3);

  transition: all 0.3s;
}

/* /////////////////////////////////////////////// */
/* responive */

@media screen and (max-width: 1190px) {
  .ctn_image_joinus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -2;
  }

  .ctn_image_joinus img {
    width: 20rem;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .center_joinus {
    width: 100%;
  }

  .center_auth form {
    padding: 0 0.85rem;
  }
}
