.section_my_profile {
  margin: 0 auto 1.5rem;

  width: 91%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.center_my_profile {
  width: 68rem;
}

h2.title_my_profile {
  color: var(--C-222222);

  padding: 1.5rem 0 1.5rem 0;
}

.txt_my_profile input,
.txt_my_profile i,
.txt_my_profile label,
.txt_my_profile textarea,
.txt_my_profile select,
.img_list_myProfile .img_minus_btn,
.img_list_myProfile .img_minus {
  color: var(--C-6C757D);
}

/* /////////////////////////////////////////////// */
/* responive */

@media screen and (max-width: 880px) {
  .center_my_profile {
    width: 100%;
  }
}
