/* /////////////////////////////////////////////// */
/* new class */

/* background image */
.back_image_newclass {
  background-image: url("/images/image_new_class.jpg");
}

.filter_newclass {
  min-height: 100%;
  width: 100%;
}

.center_newclass {
  width: 55rem;
  padding: 5.5rem 0 2rem 0;
}

/* add ingredient button*/
.add_ingredients_btn {
  font-size: 0.8rem;
  background-color: rgba(220, 164, 125, 0.7);

  justify-content: flex-end;
}

/* delete ingredients */
.txt_field_auth .dlt_ingredients_btn {
  background-color: var(--C-6E1D0E);
  color: var(--C-B3B3B3);
  font-size: 1rem;

  height: 2.2rem;
  width: 2.2rem;

  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-56%);
}

.txt_field_auth .dlt_ingredients_btn:hover {
  background-color: var(--C-DCA47D);
}
.txt_field_auth .dlt_ingredients_btn:hover i {
  color: var(--C-FF0066);
}

/* animation delete ingredient button */
.txt_field_auth input:focus ~ .dlt_ingredients_btn,
.txt_field_auth input:valid ~ .dlt_ingredients_btn {
  top: -1rem;
  color: var(--C-FF0066);
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  to {
    transform: scale(0);
  }
}

/* /////////////////////////////////////////////// */
/* responive */

@media screen and (max-width: 500px) {
  .center_newclass {
    width: 95%;
  }
}
