/* /////////////////////////////////////////////// */
/* sign up */

/* background image */
.back_image_signup {
  background-image: url("/images/image_main_auth.jpg");

  min-height: 100vh;
  width: 100%;
}

.filter_signup {
  min-height: 100%;
  width: 100%;
}

.center_signup {
  width: 34rem;
}

/* /////////////////////////////////////////////// */
/* responive */

@media screen and (max-width: 500px) {
  .back_image_signup,
  .filter_signup {
    min-height: 80vh;
  }

  .center_signup {
    width: 100%;
  }

  .center_auth form {
    padding: 0 0.85rem;
  }
}
