/* google font Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* google font Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --C-ff0066: #ff0066;
  --C-DCA47D: #dca47d;
  --C-6E1D0E: #6e1d0e;
  --C-F3F3F3: #f3f3f3;
  --C-DEDEDE: #dedede;
  --C-222222: #222222;
  --C-565E64: #565e64;
  --C-B3B3B3: #b3b3b3;
  --C-6C757D: #6c757d;
  --C-6B6D63: #6b6d63;
  --C-4683C1: #4683c1;
}

/* body */
* {
  font-family: "Poppins", sans-serif;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #dedede;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--C-222222);

  display: inline-block;
}

/* position flex*/
.horizontal {
  display: flex;
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centralA {
  display: flex;
  align-items: center;
}

.centralH {
  display: flex;
  justify-content: center;
}

/* position padding, margin */

.section_mid {
  margin: 7rem auto;
}

/* position transform */
.central_T {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.transition {
  transition: all 0.3s;
}

/* border radius */
.radius_rond {
  border-radius: 5rem;
}

.radius_square {
  border-radius: 0.55rem;
}

/* input*/
.input_style {
  font-family: "Rubik", sans-serif;
  width: 100%;
  background: none;
  border: none;
  outline: none;
}

/* button with border*/
.btn_Border {
  font-family: "Rubik", sans-serif;
  border: 0.05rem solid var(--C-222222);
  border-radius: 0.35rem;
}

/* button without border*/
.btn_NBorder {
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.35rem;
}

/* box shadow */
.shadow_box {
  box-shadow: 0 3px 10px rgb(34 34 34 / 0.5);
}

/* ctn overflow */
.ctn_overflow {
  overflow: hidden;
}

/* cursor pointer */
.cusor {
  cursor: pointer;
}

/* underline */
.underline {
  text-decoration: underline;
}
