/* /////////////////////////////////////////////// */
/* style*/

/* google font Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* google font Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

/* scroll bar setting */
/* For webkit-based browsers */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: var(--C-222222); /* color of the track  */
}

::-webkit-scrollbar-thumb {
  background: var(--C-6E1D0E); /* color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--C-FF0066); /* color of the thumb on hover */
}

::-webkit-scrollbar-corner {
  display: none;
}

/* For Firefox */
@-moz-document url-prefix() {
  html {
    scrollbar-width: thin;
  }
}

/* color box */
:root {
  --C-FF0066: #ff0066;
  --C-DCA47D: #dca47d;
  --C-6E1D0E: #6e1d0e;
  --C-F3F3F3: #f3f3f3;
  --C-DEDEDE: #dedede;
  --C-222222: #222222;
  --C-565E64: #565e64;
  --C-B3B3B3: #b3b3b3;
  --C-F7F8EE: #f7f8ee;
  --C-6C757D: #6c757d;
  --C-6B6D63: #6b6d63;
  --C-4683C1: #4683c1;
  --C-72B955: #72b955;
}

/* body */
* {
  font-family: "Poppins", sans-serif;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #dedede;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--C-222222);

  display: inline-block;
}

i,
label.up_joinus {
  pointer-events: none;
}

h2 {
  font-weight: 650;
}

/* position flex*/
.flex {
  display: flex;
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centralA {
  display: flex;
  align-items: center;
}

.centralH {
  display: flex;
  justify-content: center;
}

/* position padding, margin */

.section_mid {
  margin: 7rem auto;
}

/* input*/
.input_style {
  font-family: "Rubik", sans-serif;
  width: 100%;
  background: none;
  border: none;
  outline: none;
}

/* a tag with border*/
.btn_Border {
  font-family: "Rubik", sans-serif;
  border: 0.05rem solid var(--C-222222);
  border-radius: 0.35rem;
}

/* /////////////////////////////////////////////// */
/* a tag without border*/

.a_NBorder {
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--C-F3F3F3);

  box-shadow: 0 3px 10px rgb(34 34 34 / 0.5);
  border-radius: 0.35rem;
  outline: none;
  border: none;

  padding: 0.43rem 0.7rem;

  transition: all 0.3s;
}

/* hover */
.a_NBorder:hover {
  color: var(--C-FF0066);
}

/* /////////////////////////////////////////////// */
/* responive */

@media screen and (max-width: 830px) {
  .a_NBorder {
    font-size: 3vw;
  }
}
