/* /////////////////////////////////////////////// */
/* template */

.ul_template {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ul_template_two {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.ctn_template {
  box-shadow: 0 3px 10px rgb(34 34 34 / 0.5);
  overflow: hidden;
  border-radius: 0.55rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: all 0.3s;
}

.ctn_template:hover {
  box-shadow: 0 3px 10px rgb(255 0 102 / 0.5);
}

.mid_template {
  margin: 0.8rem;
}

/* image template */
.ctn_image_template {
  overflow: hidden;
}

.image_template {
  background-size: cover;
  background-position: center;
  border-radius: 0.55rem 0.55rem 0 0;

  transition: all 0.3s;
}

.ctn_image_template,
.ctn_image_template .image_template {
  width: 15.5rem;
  height: 15rem;
}

/* hover */
.ctn_template:hover .image_template {
  color: var(--C-FF0066);

  transform: scale(1.2);
}

/* content template */
.ctn_content_template {
  padding: 0.15rem 0.25rem 0.35rem 0.55rem;
  background: var(--C-222222);

  width: 15.5rem;
  min-height: 10.25rem;
}

.content_template {
  display: flex;
  align-items: center;
}

.content_template div:nth-child(2) {
  width: 68%;
}

.icon_content_template {
  margin: 0 0.5rem 0 0;

  font-size: 1.35rem;

  transition: all 0.3s;
}

.content_template,
.content_template a {
  color: var(--C-F3F3F3);
  font-weight: 600;
  font-size: 0.75rem;

  transition: all 0.3s;
}

/* hover */
.content_template:hover .icon_content_template,
.content_template:hover div a {
  color: var(--C-FF0066);
}

.address_template {
  display: flex;
  align-items: center;
}

.address_template div:nth-child(2) {
  max-height: 2.3rem;

  overflow: auto;

  scrollbar-width: thin;
}

/* btns template */
.ctn_btns_template {
  margin: 0.25rem 0 0 0;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btns_template {
  border-radius: 5rem;

  width: 1.5rem;
  height: 1.5rem;

  margin: 0 0 0 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btns_template a {
  color: var(--C-F3F3F3);
  transition: all 0.3s;
}

/* hover */
.btns_template:hover a {
  color: var(--C-FF0066);
}

.icon_plus_template {
  background: var(--C-6E1D0E);
}

.icon_more_template {
  background: var(--C-DCA47D);
}

/* createdAt */
.createdAt_template {
  color: var(--C-72B955);
  font-size: 0.5rem;
}

/* /////////////////////////////////////////////// */
/* responive */

@media screen and (max-width: 530px) {
  /* ul template */
  .ul_template_two {
    justify-content: space-around;
  }

  /* image template */
  .ctn_image_template,
  .ctn_image_template .image_template {
    width: 300px;
  }

  /* content template */
  .ctn_content_template {
    width: 300px;
  }
}
